<% if saldo_devedor_do_cliente(cliente) >= 0
    @row_class  = 'blue'
  else
    @row_class = 'red'
  end
    %>
<br />
<div class = "floating_box" style = "min-height:100px">

  <table id="mytable" cellspacing="0" summary="Fretes" style="width:300px">
    <tr>
      <th style="width:180px" class = 'begin'>Valor Total dos Fretes</th>
      <td style='border-top: 1px solid #C1DAD7;'> <%= number_to_currency(frete_total_do_cliente(cliente)) %> </td>
    </tr>

    <tr>
      <th class = 'begin'>Valor Total Pago</th>
      <td><%= number_to_currency(soma_dos_pagamentos_efetuados(cliente)) %></td>
    </tr>

    <tr>
      <th class = 'begin'>Saldo Devedor Total</th>

      <td><b><span class = "<%= @row_class %>"><%= number_to_currency(saldo_devedor_do_cliente(cliente)) %></span></b></td>
    </tr>
  </table>

  <table id="mytable" cellspacing="0" summary="Carros" style="width:300px;">
    <tr>
      <th style="width:180px" class = 'begin'>Carros Ativos do Cliente</th>
      <td style='border-top: 1px solid #C1DAD7;'><%= !@cars_ativos.nil? ?  "#{pluralize(@cars_ativos.count, "carro")}" : 'Nenhum carro ativo' %> </td>
    </tr>

    <tr>
      <th class = 'begin'>Carros Finalizados</th>
      <td><%= !@cars_inativos.nil? ? "#{pluralize(@cars_inativos.count, "carro")}" : 'Nenhum carro finalizado' %> </td>
    </tr>
  </table>
</div>

<div style="clear: both;"></div>

<table id="clientes" class="display" >
  <thead>
    <tr>
      <th>Nº</th>
      <th>Início da Prestação<br /> de Serviço</th>
      <th width="90px">Placa </th>
      <th>Modelo</th>
      <th>Previsão <br>Entrega</th>
      <th>Localização Atual</th>
      <th>Origem</th>
      <th>Destino</th>
      <th>Status do Veículo</th>
      <th>Status do <br>Pagamento</th>
      <th>Frete Total </th>
    </tr>
  </thead>
  <tbody><% x = 0%>
    <% @cars_cpf.each_with_index do |car, index| %>
      <% if car.status_pagamento.value == 1
              @row_class = 'nao-pago'
          elsif car.status_pagamento.value == 2
              @row_class = 'pendente'
          else
              @row_class = '';
          end %>

        <tr>
          <td class = "<%= @row_class %>"> <%= index + 1 %>. </td>
          <td class = "<%= @row_class %>"><%= car.data_compra.strftime("%d/%m/%Y") %></td>
          <td class = "<%= @row_class %>"><%= car.placa %></td>
          <td class = "<%= @row_class %>"><%= car.modelo.titleize %></td>
          <td class = "<%= @row_class %>"><%= car.data_prevista.strftime("%d/%m/%Y") unless car.data_prevista.nil? %></td>
          <td class = "<%= @row_class %>"><% unless car.localizacao.nil? %><%= car.localizacao %>  <% end -%></td>

          <td class = "<%= @row_class %>"><% unless car.cidade_origem.nil? %><%= Cidade.find(car.cidade_origem).text %>, <%= Estado.find(car.estado_origem).sigla %><% end -%> </td>
          <td class = "<%= @row_class %>"><% unless car.cidade_destino.nil? %><%= Cidade.find(car.cidade_destino).text %>, <%= Estado.find(car.estado_destino).sigla %><% end -%></td>
          <td class = "<%= @row_class %>"><%= t(VEHICLE_STATUS[car.ativo]) %></td>
          <td class = "<%= @row_class %>"><%= car.status_pagamento.status %></td>
          <td class = "<%= @row_class %>"><%= number_to_currency(car.debito.valor_total) %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
