.row{ 'data-equalizer' => '' }
  .large-6.columns
    %fieldset{ 'data-equalizer-watch' => '' }
      %legend
        %h4
          Dados do Cliente
      %table{ :cellpading => 0, :cellspacing => 0, :border => 0, :style => "width: 100%;"}
        %tr
          %th Nome:
          %td= cliente.nome 
          - if defined?(cliente.cpf)
            %tr
              %th CPF:
              %td= cliente.cpf 
          - else
            %tr
              %th CNPJ:
              %td= cliente.cnpj 
          %tr
            %th Contato na Empresa:
            %td= @empresa.contato unless @empresa.nil? 
        %tr
          %th Telefone:
          %td= "#{cliente.telefone}" unless cliente.telefone.empty?
        %tr
          %th Valor Total dos Fretes
          %td= number_to_currency(frete_total_do_cliente(cliente)) 
        %tr
          %th Valor Total Pago
          %td= number_to_currency(frete_total_do_cliente(cliente))
        %tr
          %th Saldo Devedor Total
          %td{ :class => @row_class }= number_to_currency(saldo_devedor_do_cliente(cliente))
        %tr
          %th Carros Ativos do Cliente
          %td= !@cars_ativos.nil? ?  "#{pluralize(@cars_ativos.count, "carro")}" : 'Nenhum carro ativo' 
        %tr
          %th Carros Finalizados
          %td= !@cars_inativos.nil? ? "#{pluralize(@cars_inativos.count, "carro")}" : 'Nenhum carro finalizado' 

.row
  .large-12
    %table.display{:id => "cars_financeiro_ativo", :cellpading => 0, :cellspacing => 0, :border => 0, :style => "width: 100%;"}
      %thead
        %tr
          %th
            Data da Compra
          %th{ :width => '140' }
            Modelo e Placa
          %th{ :width => '180' }
            Localização Atual
          %th{ :width => '180' }
            Origem 
          %th{ :width => '180' }
            Destino
          %th{ :width => '60' }
            Status
          %th{ :width => '60' }
            Status do Pagamento 
          %th{ :width => '60' }
            Frete Total
      %tbody
        - @cars_ativos.each do |car, index|
          - if car.status_pagamento.value == 1
            - @row_class = 'nao-pago'
          - elsif car.status_pagamento.value == 2
            - @row_class = 'pendente'
          - else
            - @row_class = '';

          %tr
            %td{ :class => @row_class }
              = car.data_compra.strftime("%d/%m")
            %td{ :class => @row_class }
              = link_to "#{car.modelo} - #{car.placa}", car
            %td{ :class => @row_class }
              - unless car.cidade_origem.nil?
                = Cidade.find(car.cidade_id).text 
                = Estado.find(car.estado_id).sigla
            %td{ :class => @row_class }
              - unless car.cidade_origem.nil?
                = Cidade.find(car.cidade_origem).text 
                = Estado.find(car.estado_origem).sigla
            %td{ :class => @row_class }
              - unless car.cidade_destino.nil?
                = Cidade.find(car.cidade_destino).text 
                = Estado.find(car.estado_destino).sigla
            %td{ :class => @row_class }
              = t(VEHICLE_STATUS[car.ativo])
            %td{ :class => @row_class }
              = car.status_pagamento.status
            %td{ :class => @row_class }
              = number_to_currency(car.debito.valor_total)