<%= form_tag :action => :show do %>
  <p><h1>Bem-vindo, cliente.</h1> </p>
  <p><b>Para verificar seu(s) carro(s), digite seu CPF abaixo:</b></p>
  <%= text_field_tag :comprador_cpf,nil, :onkeyup =>"mascara(this,cpf);",:maxlength=>"14", :size => '30' %>
  <%= submit_tag "Buscar por CPF" %>
<% end -%>
<br>
<%= form_tag :action => :show do %>
  <p><b>Ou digite seu CNPJ abaixo:</b></p>
  <%= text_field_tag :comprador_cnpj,nil, :onkeyup =>"mascara(this,cnpj);",:maxlength=>"18", :size => '30' %>
  <%= submit_tag "Buscar por CNPJ" %>
<% end -%>
<br> <br>

<p>Se você for funcionário da Transroyal,  por favor, efetue o <%= link_to('LOGIN NO SISTEMA.', new_user_session_path)  %>  </p>
