= raw(@mensagem).html_safe
- if defined? @cliente and @cliente.nil?
  %p
    %h1
      CPF n達o encontrado.
  %p
    %b
      Por favor verifique se todos os dados est達o corretos ou entre em contato com a Transeder.
- elsif defined? @empresa and @empresa.nil?
  %p
    %h1
      CNPJ n達o encontrado.
  %p
    %b
      Por favor verifique se todos os dados est達o corretos ou entre em contato com a Transeder.
- else
  - if @cars_cpf
    = render 'cliente', :cliente => @cliente
  - elsif @cars_cnpj
    = render 'empresa', :cliente => @empresa
    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]
    %br
    = link_to 'Voltar', clientes_path, :class => :button
