<%= raw(@mensagem).html_safe %>
<% if defined? @cliente and @cliente.nil? %>
  <p><h1>CPF n達o encontrado.</h1></p> 
  <p><b>Por favor verifique se todos os dados est達o corretos ou entre em contato com a Transroyal.</b></p>

<% elsif defined? @empresa and @empresa.nil? %>
  <p><h1>CNPJ n達o encontrado.</h1></p> 
  <p><b>Por favor verifique se todos os dados est達o corretos ou entre em contato com a Transroyal.</b></p>

<%else %>

  <% if @cars_cpf %>
    <%= render 'cliente' %>
  <% elsif @cars_cnpj %>
    <%= render 'empresa' %>
  <% end -%>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <br />
    <%= button('Voltar', clientes_path) %>
<% end -%>
<br />
