<table style = "width:1200px" class="table_financeiros" cellspacing="0" summary="Carros Ativos" >
  <tr>
    <!-- usar < % = sortable 'modelo' % > caso queira deixar sortable -->
    <th width = '1' class = 'none'>Nº</th>
    <th width = '30'class = 'begin'><%= sortable 'data_compra' %></th>
    <th width = '140'>Modelo e Placa</th>
    <th width = '60'>Total do Frete</th>
    <th width = '60'>Valor Pago</th>
    <th width = '60'>Data de<br/>Pagamento</th>
    <th width = '200'>Observações</th>
  </tr>

  <% carros.each_with_index do |car, index| %>
  <% if car.status_pagamento.value == 1
        @row_class = 'nao-pago'
    elsif car.status_pagamento.value == 2
        @row_class = 'pendente'
    else
        @row_class = '';
    end %>

  <tr>
    <td class = "none"> <%= index + 1 %>.</td>
    <td class = "<%= @row_class %> begin "><%= car.data_compra.strftime("%d/%m") %></td>
    <td class = "<%= @row_class %>"><%= link_to "#{car.modelo} - #{car.placa}",  edit_car_path(car) %></td>
    <td class = "<%= @row_class %>"><%= retorna_valor_monetario(car.debito.valor_total)%></td>
    <td class = "<%= @row_class %>"><%= retorna_valor_monetario(car.debito.valor_pago) %></td>
    <td class = "<%= @row_class %>"><%= car.debito.data_pagamento.strftime("%d/%m/%Y") unless car.debito.data_pagamento.nil? %></td>
    <td class = "<%= @row_class %>"><%= car.observacao %></td>

  </tr>
<% end -%>
</table>
