<p><b><%= link_to 'GERAR DOCUMENTO PDF', :action => 'generate_pdf', :comprador_cpf => @cliente %></b></p>
<p><h5>Transações Financeiras do Cliente</h5> </p>

  <%= render 'pagamentos', :cliente => @cliente %>
<br>

<p><b>CARROS ATIVOS</b></p>
  <%= render 'cars', :carros => @cars_ativos %>
<br />

<p><b>CARROS FINALIZADOS</b></p>
<% if @cars_inativos.empty? %>
  <p>Não há carros finalizados para este cliente</p>
<% else %>
  <%= render 'cars', :carros => @cars_inativos %>
<% end -%>

<p><b>CARROS NÃO PAGOS</b></p>
<% if @cars_nao_pagos.empty? %>
  <p>Este cliente pagou todos os carros</p>
<% else %>
  <%= render 'cars', :carros => @cars_nao_pagos %>
<% end -%>

<p><b>CARROS PAGOS</b></p>
<% if @cars_pagos.empty? %>
  <p>Este cliente não possui carros pagos.</p>
<% else %>
  <%= render 'cars_pagos', :carros => @cars_pagos %>
<% end -%>
