<p><b><%= link_to 'GERAR DOCUMENTO PDF', :action => 'generate_pdf', :comprador_cpf => @cliente %></b></p>
<p><h5>Transações Financeiras do Cliente</h5> </p>

  <%= render 'pagamentos', :cliente => @cliente %>
<br>

<legend><h5 style="font-size: 1.3em">Carros Ativos</h5></legend>
  <%= render 'cars', :carros => @cars_ativos, :status => "_ativos" %>
<br />


<legend><h5 style="font-size: 1.3em">Carros Não-Pagos</h5></legend>

<% if @cars_nao_pagos.empty? %>
  <p>Este cliente pagou todos os carros</p>
<% else %>
  <%= render 'cars', :carros => @cars_nao_pagos, :status => "_nao_pagos" %>
<% end -%>

<legend><h5 style="font-size: 1.3em">Carros Finalizados</h5></legend>

<% if @cars_inativos.empty? %>
  <p>Não há carros finalizados para este cliente</p>
<% else %>
  <%= render 'cars', :carros => @cars_inativos, :status => "_inativos" %>
<% end -%>


