%p
  %b
    = link_to 'GERAR DOCUMENTO PDF', :action => 'generate_pdf', :comprador_cnpj => @empresa 
%p
  %h5
    Transações Financeiras da Empresa 

.floating_box{ :style => "min-height:100px" }
  %fieldset{ :style => "width:300px; float:left; margin-top: 20px;" }
    %p
      = "Nome da Empresa: #{@empresa.nome}"
    %p
      = "Contato na Empresa: #{@empresa.contato}" unless @empresa.contato.empty?
    %p
      = "CNPJ: #{@empresa.cnpj}"
    %p
      = "Telefone: #{@empresa.telefone}" unless @empresa.telefone.empty? 
  
  %table#mytable{ :cellspacing => "0", :summary => "Carros", :style => "width:300px" }
    %tr
      %th.begin{ :style => "width:180px"}
        Carros Ativos da Empresa
      %td{ :style => 'border-top: 1px solid #C1DAD7;' } 
        = !@cars_ativos.nil? ?  "#{pluralize(@cars_ativos.count, "carro")}" : 'Nenhum carro ativo'
    %tr
      %th.begin
        Carros Finalizados
      %td
        = !@cars_inativos.nil? ? "#{pluralize(@cars_inativos.count, "carro")}" : 'Nenhum carro finalizado'

  %table#mytable{ :cellspacing => "0", :summary => "Fretes", :style => "width:300px" }
    %tr
      %th.begin{ :style => "width:180px"}
        Valor Total dos Fretes
      %td{ :style => 'border-top: 1px solid #C1DAD7;'} 
        = number_to_currency(@valor_total)  
    %tr
      %th.begin
        Valor Total Pago
      %td
        = number_to_currency(@valor_pago)   
    %tr
      %th.begin
        Saldo Devedor Total
      %td
        = number_to_currency(@saldo_devedor)   
.clear

%br

%p
  %b
    CARROS ATIVOS
  = render 'cars', :carros => @cars_ativos, :status => "_ativos"
%br

%p
  %b
    CARROS FINALIZADOS
- if @cars_inativos.empty? 
  %p
    Não há carros finalizados para esta empresa
- else 
  = render 'cars', :carros => @cars_inativos, :status => "_inativos"

%p
  %b
    CARROS NÃO PAGOS
- if @cars_nao_pagos.empty? 
  %p
    Esta empresa pagou todos os carros
- else 
  = render 'cars', :carros => @cars_nao_pagos, :status => "_nao_pagos"

%p
  %b
    CARROS PAGOS
- if @cars_pagos.empty? 
  %p
    Esta empresa não possui carros pagos.
- else 
  = render 'cars_pagos', :carros => @cars_pagos 
