%p
  %b
    = link_to 'GERAR DOCUMENTO PDF', :action => 'generate_pdf', :id => @empresa, :comprador_cnpj => @empresa.cnpj
%p
  %h5
    Transações Financeiras da Empresa

= render 'pagamentos', :cliente => @empresa

%legend
  %h4
    CARROS ATIVOS
  = render 'cars', :carros => @cars_ativos, :status => "_ativos"

%legend
  %h4
    CARROS FINALIZADOS
- if @cars_inativos.empty?
  %p
    Não há carros finalizados para esta empresa
- else
  = render 'cars', :carros => @cars_inativos, :status => "_inativos"

%legend
  %h4
    CARROS NÃO PAGOS
- if @cars_nao_pagos.empty?
  %p
    Esta empresa pagou todos os carros
- else
  = render 'cars', :carros => @cars_nao_pagos, :status => "_nao_pagos"
