<p><h1> Clientes </h1></p>
<table  id="compradores_financeiro" class="display"  style = "float: left;">
  <thead>
    <tr>
      <th width = 150px>Nome</th>
      <th width = 80px>CPF</th>
      <th width = 100px>Débito Total</th>
      <th width = 100px>Pagamento Total</th>
      <th width = 100px>Quantia de Carros Ativos</th>
    </tr>
  </thead>

  <tbody>
    <% @compradores.each do |comprador| %>
    <tr>
      <td style='border-left: 1px solid #C1DAD7;'> <%= link_to comprador.nome, financeiro_path(:show, :comprador_cpf => comprador.cpf) %> </td>
      <td> <%= comprador.cpf %> </td>
      <td> <%= retorna_valor_monetario(saldo_devedor_do_cliente(comprador)) %> </td>
      <td> <%= retorna_valor_monetario(soma_dos_pagamentos_efetuados(comprador)) %> </td>
      <td> <%= "#{pluralize(comprador.carros_ativos, 'carro')}" %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><h1> Empresas </h1></p>
<table  id="empresas_financeiro" class="display"  style = "float: left;">
  <thead>
    <tr>
      <th width = 150px >Nome</th>
      <th width = 80px >CNPJ</th>
      <th width = 100px >Débito Total</th>
      <th width = 100px >Pagamento Total</th>
      <th width = 100px>Quantia de Carros Ativos</th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
    <tr>
      <td style='border-left: 1px solid #C1DAD7;'> <%= link_to empresa.nome, financeiro_path(:show, :comprador_cnpj => empresa.cnpj) %></td>
      <td> <%= empresa.cnpj %> </td>
      <td> <%= retorna_valor_monetario(saldo_devedor_do_cliente(empresa)) %> </td>
      <td> <%= retorna_valor_monetario(soma_dos_pagamentos_efetuados(empresa)) %> </td>
      <td> <%= "#{pluralize(empresa.carros_ativos, 'carro')}" %> </td>

    </tr>
    <% end %>
  </tbody>
</table>

<p><h1> Parceiros </h1></p>
<table  id="parceiros_financeiro" class="display"  style = "float: left;">
  <thead>
    <tr>
      <th width = 150px >Nome</th>
      <th width = 80px >CPF/CNPJ</th>
      <th width = 100px >Débito Total</th>
      <th width = 100px >Pagamento Total</th>
      <th width = 100px>Quantia de Carros Ativos</th>
    </tr>
  </thead>

  <tbody>
    <% @parceiros.each do |parceiro| %>
    <tr>
      <td style='border-left: 1px solid #C1DAD7;'> <%= parceiro.cpf ? link_to(parceiro.nome, financeiro_path(:show, :parceiro_cpf => parceiro.cpf)) : link_to(parceiro.nome, financeiro_path(:show, :parceiro_cnpj => parceiro.cnpj)) %> </td>
      <td> <%= parceiro.cpf ? parceiro.cpf : parceiro.cnpj  %> </td>
      <td> <%= retorna_valor_monetario(saldo_devedor_do_cliente(parceiro)) %> </td>
      <td> <%= retorna_valor_monetario(soma_dos_pagamentos_efetuados(parceiro))  %> </td>
      <td> <%= "#{pluralize(parceiro.carros_ativos, 'carro')}" %> </td>

    </tr>
    <% end %>
  </tbody>
</table>
