<p><h1> Clientes </h1></p>
<table  id="compradores_financeiro" class="display"  style = "float: left;">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Débito Total</th>
      <th>Pagamento Total</th>
    </tr>
  </thead>

  <tbody>
    <% @compradores.each do |comprador| %>
    <tr>
      <td> <%= link_to comprador.nome, financeiro_path(:show, :comprador_cpf => comprador.cpf) %> </td>
      <td> <%= comprador.cpf %> </td>
      <td> <%= retorna_valor_monetario(saldo_devedor_do_cliente(comprador)) %> </td>
      <td> <%= retorna_valor_monetario(soma_dos_pagamentos_efetuados(comprador)) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><h1> Empresas </h1></p>
<table  id="empresas_financeiro" class="display"  style = "float: left;">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CNPJ</th>
      <th>Débito Total</th>
      <th>Pagamento Total</th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
    <tr>
      <td> <%= link_to empresa.nome, financeiro_path(:show, :comprador_cnpj => empresa.cnpj) %></td>
      <td> <%= empresa.cnpj %> </td>
      <td> <%= retorna_valor_monetario(saldo_devedor_do_cliente(empresa)) %> </td>
      <td> <%= retorna_valor_monetario(soma_dos_pagamentos_efetuados(empresa)) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><h1> Parceiros </h1></p>
<table  id="parceiros_financeiro" class="display"  style = "float: left;">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF/CNPJ</th>
      <th>Débito Total</th>
      <th>Pagamento Total</th>
    </tr>
  </thead>

  <tbody>
    <% @parceiros.each do |parceiro| %>
    <tr>
      <td> <%= parceiro.cpf ? link_to(parceiro.nome, financeiro_path(:show, :parceiro_cpf => parceiro.cpf)) : link_to(parceiro.nome, financeiro_path(:show, :parceiro_cnpj => parceiro.cnpj)) %> </td>
      <td> <%= parceiro.cpf ? parceiro.cpf : parceiro.cnpj  %> </td>
      <td> <%= retorna_valor_monetario(saldo_devedor_do_cliente(parceiro)) %> </td>
      <td> <%= retorna_valor_monetario(soma_dos_pagamentos_efetuados(parceiro)) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
