

<%= form_tag :action => :show do %>
	<p><h1>Buscar Cliente por CPF</h1></p>
	<%= text_field_tag :comprador_cpf,nil, :onkeyup =>"mascara(this,cpf);",:maxlength=>"14", :size => '30' %> 
	<%= submit_tag "Buscar por CPF" %>
<% end -%>

<%= form_tag :action => :show do %>
	<p><h1>Buscar Cliente por CNPJ</h1></p>
	<%= text_field_tag :comprador_cnpj,nil, :onkeyup =>"mascara(this,cnpj);",:maxlength=>"18", :size => '30' %> 
	<%= submit_tag "Buscar por CNPJ" %>
<% end -%>



