  <p id="notice"><%= notice %></p>

<% if @cars_cpf %>

<p><h5>Transações Financeiras do Cliente</h5> </p>

<fieldset>
Nome: <%= @cliente.nome %>  <br />
CPF: <%= @cliente.cpf %> <br>
<%= "Telefone: #{@cliente.telefone}" unless @cliente.telefone.empty? %> 

</fieldset>

<br /> 
<table id="mytable" cellspacing="0" summary="Carros" style="width:600px">  
  <tr>
    <th style="width:180px">Carros Ativos do Cliente</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= !@cars_ativos.nil? ?  "#{pluralize(@cars_ativos.count, "carro")}" : 'Nenhum carro ativo' %> </td>
  </tr>
  
  <tr>
    <th>Carros Finalizados</th>
    <td><%= !@cars_inativos.nil? ? "#{pluralize(@cars_inativos.count, "carro")}" : 'Nenhum carro finalizado' %> </td>
  </tr>

</table>
<br />

<table id="mytable" cellspacing="0" summary="Fretes" style="width:600px">  
  <tr>
    <th style="width:180px">Valor Total dos Fretes</th>
    <td style='border-top: 1px solid #C1DAD7;'> <%= retorna_valor_monetario(@valor_total) %> </td>
  </tr>
  
  <tr>
    <th>Valor Total Pago</th>
    <td><%= retorna_valor_monetario(@valor_pago) %>  </td>
  </tr>

  <tr>
    <th>Saldo Devedor Total</th>
    <td><%= retorna_valor_monetario(@saldo_devedor) %>  </td>
  </tr>

</table>

<br>

<p><b>CARROS ATIVOS</b></p>
  <%= render 'cars', :carros => @cars_ativos %>
<br />

<p><b>CARROS FINALIZADOS</b></p>
<% if @cars_inativos.empty? %>
  <p>Não há carros finalizados para este cliente</p>
<% else %>
  <%= render 'cars', :carros => @cars_inativos %>
<% end -%>

<p><b>CARROS NÃO PAGOS</b></p>
<% if @cars_nao_pagos.empty? %>
  <p>Este cliente pagou todos os carros</p>
<% else %>
  <%= render 'cars', :carros => @cars_nao_pagos %>
<% end -%>

<% end -%>



