<%= form_for(@comprador) do |f| %>
  <% if @comprador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comprador.errors.count, "error") %> prohibited this comprador from being saved:</h2>

      <ul>
      <% @comprador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :rg %><br />
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :celular %><br />
    <%= f.text_field :celular %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
