<p id="notice"><%= notice %></p>

<p>
  <b>Especie:</b>
  <%= @contato.especie %>
</p>

<p>
  <b>Nome:</b>
  <%= @contato.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @contato.telefone %>
</p>

<p>
  <b>Cidade:</b>
  <%= @contato.cidade_id %>
</p>

<p>
  <b>Estado:</b>
  <%= @contato.estado_id %>
</p>

<p>
  <b>Comprador:</b>
  <%= @contato.comprador_id %>
</p>

<p>
  <b>Email:</b>
  <%= @contato.email %>
</p>


<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
