- if !current_user.admin?
  Desculpe, você precisa ter direitos administrativos para visualizar esta página!

- else

= form_for(@parceiro) do |f|
  - if @parceiro.errors.any?
    .error_explanation
      %h1
        = "#{pluralize(@parceiro.errors.count, 'erro')} impediram que a compra fosse salva:"
      
      %ul
        - @parceiro.errors.full_messages.each do |msg|
          %li
            = msg

  <!-- dados do veículo -->

  %fieldset
    %legend
      %h5{ :style => "font-size: 1.3em" }
        Dados do Parceiro
  
    %p
      Escolha apenas entre CPF ou CNPJ, porém não ambos!
    .field{ :style => "float:left; padding-right:10px;"}
      = f.label :cpf, "CPF* "
      = f.text_field :cpf, :onkeyup =>"mascara(this,cpf); fillFieldsParceiro(this)",:maxlength=>"14", :size => '30', :id => 'parceiro_cpf' 
    .field
      = f.label :cnpj, "CNPJ*"
      = f.text_field :cnpj, :onkeyup =>"mascara(this,cnpj); fillFieldsParceiro(this)",:maxlength=>"18", :size => '30', :id => 'parceiro_cnpj' 
    .field{ :style => "float:left; padding-right:10px;" }
      = f.label :nome
      = f.text_field :nome, :id => 'parceiro_nome' 
    .field
      = f.label :email, "E-Mail"
      = f.text_field :email, :id => 'parceiro_email' 
    .field{ :style => "float:left; padding-right:10px;" }
      = f.label 'telefone*'
      = f.text_field :telefone, :onkeyup => "mascara(this,telefone)", :maxlength => "14", :size => '30', :id => 'parceiro_telefone' 
    .field
      = f.label :celular
      = f.text_field :celular, :onkeyup =>"mascara(this,telefone)", :maxlength=>"15", :size => '30' , :id => 'parceiro_celular' 
    .field
      = f.label :observacao, "Observação"
      = f.text_area :observacao, :cols => 40, :rows => 7, :id => 'parceiro_observacao'
    
  <!-- fim dos dados do veículo -->  
  %br
  .actions
    = f.submit "Salvar"
