- if !current_user.admin?
  .alert-box.alert
    Desculpe, você precisa ter direitos administrativos para visualizar esta página!

- else
  = form_for(@parceiro) do |f|
    - if @parceiro.errors.any?
      .alert-box.alert
        %h1
          = "#{pluralize(@parceiro.errors.count, 'erro')} impediram que a compra fosse salva:"
        %ul
          - @parceiro.errors.full_messages.each do |msg|
            %li
              = msg

    <!-- dados do veículo -->

    .row
      .large-6.end
        %fieldset
          %legend
            %h5{ :style => "font-size: 1.3em" }
              Dados do Parceiro
          .row
            %p
              Escolha apenas entre CPF ou CNPJ, porém não ambos!
            .large-6.columns
              = f.label :cpf, "CPF* "
              = f.text_field :cpf, :onkeyup =>"mascara(this,cpf); fillFieldsParceiro(this)",:maxlength=>"14", :size => '30', :id => 'parceiro_cpf' 
            .large-6.columns
              = f.label :cnpj, "CNPJ*"
              = f.text_field :cnpj, :onkeyup =>"mascara(this,cnpj); fillFieldsParceiro(this)",:maxlength=>"18", :size => '30', :id => 'parceiro_cnpj' 

          = f.label :nome
          = f.text_field :nome, :id => 'parceiro_nome' 

          = f.label :email, "E-Mail"
          = f.text_field :email, :id => 'parceiro_email' 
          .row
            .large-6.columns
              = f.label 'telefone*'
              = f.text_field :telefone, :onkeyup => "mascara(this,telefone)", :maxlength => "14", :size => '30', :id => 'parceiro_telefone' 
            .large-6.columns
              = f.label :celular
              = f.text_field :celular, :onkeyup =>"mascara(this,telefone)", :maxlength=>"15", :size => '30' , :id => 'parceiro_celular' 

            = f.label :observacao, "Observação"
            = f.text_area :observacao, :cols => 40, :rows => 7, :id => 'parceiro_observacao'
          
    <!-- fim dos dados do veículo -->  
    
    = f.submit "Salvar", :class => :button
