
<div class="floating-left">
<table id="parceiros" class="display">
    <thead><tr>
        <th>Nº</th>
        <th> CPF/CNPJ</th>
        <th>Nome</th>
        <th>Contato</th>
        <th>Telefone</th>
        <th >Carros</th>
        <th>Frete Total dos Carros</th>
        <% if current_user.admin? %>
            <th>Ações</th>
        <% end -%>

      </tr>
    </thead>
<tbody><% x = 0%>

<% @parceiros.each_with_index do |parceiro, index| %>

  <tr>
    <td class = "<%= @row_class %>"> <%= index + 1 %>. </td>
    <% if parceiro.cpf %>
    <td class = "<%= @row_class %>">
        <% if !parceiro.cpf.empty? %>
            <%= link_to(parceiro.cpf, parceiro) %>
        <% end %>
        </td>
    <% else %>
        <td class = "<%= @row_class %>"><%= link_to(parceiro.cnpj, parceiro) %></td>
    <% end -%>
    <td class = "<%= @row_class %>"><%= parceiro.nome %> </td>
    <td class = "<%= @row_class %>"><%= parceiro.contato %> </td>
    <td class = "<%= @row_class %>"><%= parceiro.telefone %> </td>
    <td> <%= (carros_com_parceiro(parceiro)).html_safe %> </td>
    <td><%= retorna_valor_dos_fretes(parceiro) %></td>
    <% if current_user.admin? %>
    <td class = "<%= @row_class %>"><%= link_to image_tag("details.png", :border=>0, :mouseover => "details_black.png", :title => "Ver Detalhes"), parceiro %> &nbsp;
        <%= link_to image_tag("edit.png", :border=>0, :alt => "Editar", :mouseover => "edit_black.png", :title => "Editar Entrada"), edit_parceiro_path(parceiro) %> &nbsp;
        <%= link_to image_tag("delete-item.png", :border=>0, :mouseover => "delete-item_red.png", :title => "Apagar Entrada"), parceiro, confirm: 'Tem certeza que deseja apagar a venda? Esta ação é irreversível!', method: :delete %>
    <% end -%>

  </tr>
<% end %></tbody>
</table>
</div>
