.row
  %div{ :class => "large-12 columns" }
    %table.display#parceiros{ :cellpading => 0, :cellspacing => 0, :border => 0, :style => "width: 100%;"}
      %thead
        %tr
          %th
            CPF/CNPJ
          %th
            Nome
          %th
            Contato
          %th
            Telefone
          %th 
            Carros
          %th
            Frete Total
          %th
            Taxa de Redespacho Total
          - if current_user.admin?
            %th{ :width => "130px"}
              Ações
      %tbody
        - @parceiros.each do |parceiro|
          %tr
            %td{ :class => @row_class}
              = parceiro.cpf.empty? ? link_to(parceiro.cnpj, parceiro) : link_to(parceiro.cpf, parceiro)
            %td{ :class => @row_class}
              = parceiro.nome
            %td{ :class => @row_class}
              = parceiro.contato
            %td{ :class => @row_class}
              = parceiro.telefone
            %td
              = (carros_com_parceiro(parceiro)).html_safe
            %td.nowrap
              = number_to_currency(parceiro.total_freight)
            %td.nowrap
              = number_to_currency(parceiro.total_redispatch_tax)

            - if current_user.admin?
              %td{ :class => "#{@row_class} nowrap"}
                = link_to image_tag("details.png", :border=>0, :mouseover => "details_black.png", :title => "Ver Detalhes"), parceiro;
                = link_to image_tag("edit.png", :border=>0, :alt => "Editar", :mouseover => "edit_black.png", :title => "Editar Entrada"), edit_parceiro_path(parceiro);
                = link_to image_tag("delete-item.png", :border=>0, :mouseover => "delete-item_red.png", :title => "Apagar Entrada"), parceiro, confirm: 'Tem certeza que deseja apagar a venda? Esta ação é irreversível!', method: :delete