<p><h1><%= @mensagem %> </h1></p>
<% if !@parceiros.empty? %>

<%= render 'parceiros' %>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<br />

<% end -%>
<% if current_user.admin? %>
  <%= button('Adicionar Parceiro', new_parceiro_path)%>

<% end -%>