<p id="notice"><%= notice %></p>

<% unless @parceiro.nil? %>
<p><b><%= link_to 'GERAR DOCUMENTO PDF', :action => 'generate_pdf', :id => @parceiro.id %> </b></p>
<% end -%>

<div class = 'floating_box'>

<table id="mytable" cellspacing="0" summary="Detalhes da parceiro" style="width:450px">  
  <caption><h5>Detalhes da parceiro</h5></caption>
  <tr>
    <th style="width:150px">CNPJ do Parceiro</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @parceiro.cnpj %> </td>
  </tr>  

  <tr>
  	<th>Nome do Parceiro</th>
  	<td><%= @parceiro.nome %></td>
  </tr>

  <tr>
    <th>Carros com Parceiro</th>
    <td> <%= raw(carros_com_parceiro(@parceiro)).html_safe %></td>
  </tr>
  <tr>
    <th>Localização Atual</th>
    <td><%= @parceiro.localizacao %></td>
  </tr>
  <% unless @parceiro.cidade_origem.nil? && @parceiro.estado_origem.nil? %>
  <tr>
    <th>Origem</th>
    <td><%= Cidade.find(@parceiro.cidade_origem).text %>, <%= Estado.find(@parceiro.estado_origem).sigla %></td>
  </tr>
  <% end -%>
  <% unless @parceiro.cidade_origem.nil? && @parceiro.estado_origem.nil? %>
  <tr>
    <th>Destino</th>
    <td><%= Cidade.find(@parceiro.cidade_destino).text %>, <%= Estado.find(@parceiro.estado_destino).sigla %></td>
  </tr>
  <% end -%>
  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @parceiro.observacao %></td>
  </tr>
  <tr>  
</table>


</div>


<div style="clear: both;"></div>
<div style="floating_box">
<p><h5>Transações Financeiras do Cliente</h5> </p>


<br /> 

<table id="mytable" cellspacing="0" summary="Fretes" style="width:300px">  
  <tr>
    <th style="width:180px" class = 'begin'>Valor Total dos Fretes</th>
    <td style='border-top: 1px solid #C1DAD7;'> <%= retorna_valor_monetario(@valor_total) %> </td>
  </tr>
  
  <tr>
    <th class = 'begin'>Valor Total Pago</th>
    <td><%= retorna_valor_monetario(@valor_pago) %>  </td>
  </tr>

  <tr>
    <th class = 'begin'>Saldo Devedor Total</th>
    <td><%= retorna_valor_monetario(@saldo_devedor) %>  </td>
  </tr>

</table>
</div>
<div style="clear: both;"></div>

<br>
<% if !@cars_ativos.empty? %>
<p><b>CARROS ATIVOS</b></p>
  <%= render 'cars', :carros => @cars_ativos %>
<br />
<% else %>
<p><b>Este parceiro não possui carros ativos no momento. </b></p>
<% end -%>

<br />
<%= button('Editar', edit_parceiro_path(@parceiro)) %>
<%= button('Voltar', parceiros_path) %>
