- unless @parceiro.nil?
  %p
    %b= link_to 'GERAR DOCUMENTO PDF', :action => 'generate_pdf', :id => @parceiro.id

  .row{ 'data-equalizer' => ""}
    .large-4.columns
      %table.text-left{ :cellspacing => "0", :summary => "Detalhes da parceiro", 'data-equalizer-watch' => '', :width => 350 }
        %caption
          %h4
            Detalhes da parceiro
        %tr
          - if !@parceiro.cpf.empty?
            %th{ :style => "width:150px"} 
              CPF do Parceiro
            %td
              = @parceiro.cpf 
          - else
            %th{ :style => "width:150px" }
              CNPJ do Parceiro
            %td
              = @parceiro.cnpj 
        %tr
          %th
            Nome do Parceiro
          %td
            = @parceiro.nome
        %tr
          %th
            Carros com Parceiro
          %td
            = raw(carros_com_parceiro(@parceiro)).html_safe
        %tr
          %th
            Localização Atual
          %td
            = @parceiro.localizacao
        - unless @parceiro.cidade_origem.nil? && @parceiro.estado_origem.nil?
          %tr
            %th
              Origem
            %td
              = Cidade.find(@parceiro.cidade_origem).text 
              = Estado.find(@parceiro.estado_origem).sigla
        - unless @parceiro.cidade_origem.nil? && @parceiro.estado_origem.nil?
          %tr
            %th
              Destino
            %td
              = Cidade.find(@parceiro.cidade_destino).text 
              = Estado.find(@parceiro.estado_destino).sigla
        %tr
          %th
            Observação
          %td
            = @parceiro.observacao

    .large-4.columns
      %table.text-left{ :cellspacing => "0", :summary => "Fretes", 'data-equalizer-watch' => '', :width => 350 }
        %caption
          %h4
            Detalhes dos Carros
          - @parceiro.cars.each do |car|
            %tr
              %th
                Placa
              %td
                = car.placa
              %th
                Redespacho
              %td
                = number_to_currency(car.debito.taxa_despacho)
          %th
            Total
          %td
          %th
          %td
            %b= number_to_currency(@parceiro.total_redispatch_tax)



    .large-4.columns.end
      %table.text-left{ :cellspacing => "0", :summary => "Fretes", 'data-equalizer-watch' => '', :width => 350 }
        %caption
          %h4
            Detalhes Financeiros
        %tr
          %th
            Valor Total dos Fretes
          %td
            = number_to_currency(@parceiro.total_freight) 
        %tr
          %th
            Valor Total Pago
          %td
            = number_to_currency(@valor_pago)  
        %tr
          %th
            Saldo Devedor Total
          %td
            = number_to_currency(@saldo_devedor)  

  - if !@cars_ativos.empty?
    %p
      %b CARROS ATIVOS
    = render 'cars', :carros => @cars_ativos

  - frete_total = 0
  - saldo_devedor = 0
  - @parceiro.historicos.each do |hist|
    - frete_total = hist.car.debito.valor_total + frete_total
    - saldo_devedor =  hist.car.debito.saldo_devedor + saldo_devedor
    %table{ :cellspacing => "0", :summary => "Histórico do Parceiro", :width => '100%' }
      %caption.text-left
        %b HISTÓRICO
        %p= "Frete Total: #{number_to_currency(frete_total)} | Saldo Devedor: #{number_to_currency(saldo_devedor)}"  
      - if @parceiro.historicos.empty?
        %th.text-left
          Nenhum carro no histórico
      - else
        %tr
          %th.begin
            Placa
          %th
            Data de Entrada
          %th
            Cidade de Entrada
          %th
            Data de Saída
          %th
            Cidade de Saída
        - @parceiro.historicos.each do |historico|
          %tr
            %td
              = link_to(historico.car.placa, historico.car) unless historico.car.nil? 
            %td
              = historico.data_entrada.strftime("%d/%m/%Y") unless historico.data_entrada.nil? 
            %td
              = historico.localizacao_entrada 
            %td
              = historico.data_saida.strftime("%d/%m/%Y") unless historico.data_saida.nil? 
            %td
              = historico.localizacao_saida 

  .clear

  = link_to 'Editar', edit_parceiro_path(@parceiro), :class => :button
  = link_to 'Voltar', parceiros_path, :class => :button