%p.notice
  = notice

.floating_box
  %table#mytable{ :cellspacing => "0", :summary => "Detalhes da Empresa", :style => "width:450px" }
    %caption
      %h5
        Detalhes da Empresa
      %tr
        %th{ :style => "width:180px"}
          Nome da Empresa
        %td{ :style => 'border-top: 1px solid #C1DAD7;'}
          = @empresa.nome 
      %tr
        %th
          Nome do Contato
        %td
          = @empresa.contato
      %tr
        %th
          CNPJ
        %td
          = @empresa.cnpj
      %tr
        %th
          Telefone
        %td
          = @empresa.telefone
      %tr
        %th
          Celular
        %td
          = @empresa.celular
      %tr
        %th
          E-Mail
        %td
          = @empresa.email
      %tr
        %th{ :style => "height:50px"}
          Observação
        %td
          = @empresa.observacao
    
  %table#mytable{ :cellspacing => "0", :summary => "Detalhes dos Carros", :style => "width:450px" }
    %caption
      %h5
        Detalhes dos Carros
    %tr
      %th{ :style => "width:130px" }
        Carros Ativos
      %td{ :style => 'border-top: 1px solid #C1DAD7;' }
        = carros_ativos_do_cliente(@empresa).html_safe
    %tr
      %th
        Frete Total dos <br> Carros Ativos
      %td
        = number_to_currency(frete_total_do_cliente(@empresa)) 
    %tr
      %th
        Pagamento Total <br> Efetuado
      %td
        = number_to_currency(soma_dos_pagamentos_efetuados(@empresa)) 
    %tr
      %th
        Saldo Devedor
      %td
        = number_to_currency(saldo_devedor_do_cliente(@empresa)) 
    %tr
      %th{ :style => "height:50px" }
        Observação
      %td
        = @observacao

.floating_left
  %table#mytable{ :cellspacing => "0", :summary => "Detalhes do Pagamento", :style => "width:450px" }
    %caption
      %h5
        Detalhes dos Pagamentos
    %tr
      %th{ :width => '50px', :style => 'border-left: 1px solid #C1DAD7;' }
        Data do <br>Pagamento
      %th
        Valor do <br> Pagamento
      %th
        Forma de <br> Pagamento
      %th
        Saldo

    - @empresa.pagamentos.each do |pagamento|
      - if pagamento.saldo >= 0
        - row_class  = 'blue'
      - else
        - row_class = 'red'
      %tr
        %td{ :style => 'border-left: 1px solid #C1DAD7;' }
          = pagamento.data_pagamento.strftime('%d/%m/%Y') unless pagamento.data_pagamento.nil?
        %td
          = number_to_currency(pagamento.valor)
        %td
          = pagamento.forma_pagamento
        %td{ :class => row_class }
          = number_to_currency(pagamento.saldo)
      
.clear

= button 'Editar', edit_comprador_path(@empresa)
= button 'Voltar', compradores_path
