<% if !current_user.admin? %>
  Desculpe, você precisa ter direitos administrativos para visualizar esta página!

<% else %>

<% if @editar_localizacao %> 
  <% render 'editar_localizacao' %>
<%else%>



<%= javascript_include_tag :defaults %>


<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(@car.errors.count, "error") %> impediram que a compra fosse salva:</h1>
      
      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      
      </ul>
    </div>
  <% end %>

<% if @car.empresa %>
<!-- Dados da empresa -->
<fieldset> <legend><h5 style="font-size: 1.3em">Dados da Empresa</h5></legend>
  <%= f.fields_for :empresa do |builder| %>
    <div class="field">
      <%= builder.label :nome, "Nome da Empresa*" %><br />
      <%= builder.text_field :nome %>
    </div>

    <div class="field">
      <%= builder.label :contato, "Nome do Contato" %><br />
      <%= builder.text_field :contato %>
    </div>

    <div class="field">
      <%= builder.label :email, "E-Mail" %><br />
      <%= builder.text_field :email %>
    </div>

    <div class="field">
      <%= builder.label :cnpj, "CNPJ*" %><br />
      <%= builder.text_field :cnpj, :onkeyup =>"mascara(this,cpf)",:maxlength=>"14", :size => '30' %> 
    </div>

    <div class="field">
      <%= builder.label :telefone %>*<br />
      <%= builder.text_field :telefone, :onkeyup => "mascara(this,telefone)", :maxlength => "14", :size => '30'%> 
    </div>

    <div class="field">
      <%= builder.label :celular %><br />
      <%= builder.text_field :celular, :onkeyup =>"mascara(this,telefone)", :maxlength=>"15", :size => '30' %> 
    </div>
  </fieldset>
 <% end -%>
<% elsif @car.comprador %>

<!-- Dados do comprador -->
<fieldset> <legend><h5 style="font-size: 1.3em">Dados do Comprador</h5></legend>
  <%= f.fields_for :comprador do |builder| %>
    <div class="field">
      <%= builder.label :nome, "Nome Completo*" %><br />
      <%= builder.text_field :nome %>
    </div>

    <div class="field">
      <%= builder.label :email, "E-Mail" %><br />
      <%= builder.text_field :email %>
    </div>

    <div class="field">
      <%= builder.label :rg, "RG*" %><br />
      <%= builder.text_field :rg %>
    </div>

    <div class="field">
      <%= builder.label :cpf, "CPF*" %><br />
      <%= builder.text_field :cpf, :onkeyup =>"mascara(this,cpf)",:maxlength=>"14", :size => '30' %> 
    </div>

    <div class="field">
      <%= builder.label :telefone %>*<br />
      <%= builder.text_field :telefone, :onkeyup => "mascara(this,telefone)", :maxlength => "14", :size => '30'%> 
    </div>

    <div class="field">
      <%= builder.label :celular %><br />
      <%= builder.text_field :celular, :onkeyup =>"mascara(this,telefone)", :maxlength=>"15", :size => '30' %> 
    </div>

 
  <% end %>
  </fieldset>
<% end -%>
  <!-- fim dos dados do comprador -->

  <!-- dados do veículo -->
<fieldset><legend><h5 style="font-size: 1.3em">Dados do Veículo</h5></legend>
  
  <div class="field">
    <%= f.label :placa %>*<br />
    <%= f.text_field :placa, :onkeyup => "mascara(this, placa)", :maxlength => '8', :size => '15' %> 
  </div>

  <div class="field">
    <%= f.label :modelo %>*<br />
    <%= f.text_field :modelo %> (Por exemplo: Ford Ka)
  </div>
    

  <div class="field">
    <%= f.label :data_compra, "Data da Compra" %><br />
    <%= f.date_select :data_compra, :order => [:day, :month, :year]  %> 
  </div>
      
  <div class="field">
    <%= f.label :status_pagamento_id %><br />
    <%= f.select :status_pagamento_id,  StatusPagamento.all.collect {|p| [ p.status, p.id ] }  %>
  </div>

  <div class="field">
    <%= f.label :cegonha_id, "Cegonha" %><br />
    <%= f.select :cegonha_id, @cegonhas.collect {|p| [ p.placa, p.id ] }, { :include_blank => true }  %> 

  </div>

      
<div class="field">
  <%= f.label :ativo, "Status do Carro" %><br />
  <% @status = {'Em Trânsito' => 1, 'Descarregado no Pátio' => 2, 'Aguardando Retirada' => 3, 'Entregue ao Cliente' => 0} %>
  <%= select_tag :ativo, options_for_select(@status, @car.ativo)   %>
  </div>  
</fieldset>
  <!-- fim dos dados do veículo -->  
  <br />
  <div class="actions">
    <% if @car.id.nil? %>
      <%= f.submit "Salvar e Editar Localização", :name => 'editar_localizacao', :car => @car %>
    <% else -%>
      <%= f.submit "Salvar" %>
      <%= f.submit "Salvar e Editar Localização", :name => 'editar_localizacao', :car => @car %>
    <% end -%>
  </div>
<% end %>

<%end%>
<% end -%>