<h1>Listing cars</h1>

<table>
  <tr>
    <th>Placa</th>
    <th>Modelo</th>
    <th>Comprador</th>
    <th>Status do Pagamento</th>
    <th>Localização Atual</th>
    <th>Rota</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @cars.each do |car| %>
  <tr>
    <td><%= car.placa %></td>
    <td><%= car.modelo %></td>
    <td><%= car.comprador.firstname %> <%= car.comprador.lastname %></td>
    <td><%= car.status_pagamento.status %></td>
    <td><%= car.localizacao %></td>
    <td><%= car.rota_id %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car', new_car_path %>
