<p><h1>Vendas Ativas</h1></p>

<%= render 'cars' %>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @cars %>

<br />

<% if current_user.admin? %>
  <%= button('Nova Venda (Pessoa Física)', new_car_path)%>
  <%= button('Nova Venda (Pessoa Jurídica)', :action => :new, :pessoa_juridica => true)%>
<% end -%>
