<!DOCTYPE html>
<html>
<head>
<meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
  <title>Controle de Transporte</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div id='wrapper'>
  <%= pdf_image_tag('/app/assets/images/logo.png', :style=>"margin:0px;padding:0px")%>

  <p id="notice"><%= notice %></p>
<% if @car.comprador %>
<p><b>DETALHES DO CLIENTE</b> </p>


<table id="mytable" cellspacing="0" summary="DETALHES do Cliente" style="width:600px">  
  <tr>
    <th style="width:180px">Nome do Cliente</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.comprador.nome %> </td>
  </tr>
  <tr>
    <th>RG</th>
    <td><%= @car.comprador.rg %></td>
  </tr>
  <tr>
    <th>CPF</th>
    <td><%= @car.comprador.cpf %></td>
  </tr>
  <tr>
    <th>Status do Pagamento</th>
    <td><%= @car.status_pagamento.status %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @car.comprador.telefone %></td>
  </tr>
  <tr>  
    <th>Celular</th>
    <td><%= @car.comprador.celular %></td>
  </tr>
  <tr> 
    <th>E-Mail</th>
    <td><%= @car.comprador.email %></td>
  </tr>
  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @car.comprador.observacao %></td>
  </tr>

</table>

<% elsif @car.empresa %>
<p><b>DETALHES DA EMPRESA</b> </p>
<table id="mytable" cellspacing="0" summary="Detalhes da Empresa" style="width:600px">  
  <tr>
    <th style="width:180px">Nome da Empresa</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.empresa.nome %> </td>
  <tr>
    <th>Nome do Contato</th>
    <td><%= @car.empresa.contato %></td>
  </tr>
  <tr>
    <th>CNPJ</th>
    <td><%= @car.empresa.cnpj %></td>
  </tr>
  <tr>
    <th>Status do Pagamento</th>
    <td><%= @car.status_pagamento.status %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @car.empresa.telefone %></td>
  </tr>
  <tr>  
    <th>Celular</th>
    <td><%= @car.empresa.celular %></td>
  </tr>
  <tr> 
    <th>E-Mail</th>
    <td><%= @car.empresa.email %></td>
  </tr>
  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @car.empresa.observacao %></td>
  </tr>
</table>
<% end -%>

<p><b>DETALHES DO CARRO</b></p>
<table id="mytable" cellspacing="0" summary="Detalhes do Carro" style="width:600px">  
  <tr>
    <th style="width:180px" >Modelo do Carro</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.modelo %></td>
  </tr>
  <tr>
    <th>Placa</th>
    <td><%= @car.placa %></td>
  </tr>

  <% if @car.cegonha %>
  <tr>
    <th>Cegonha</th>
    <td><%= link_to(@car.cegonha.placa, @car.cegonha)%></td>
  </tr>
  <% end -%>
  <tr>
    <th>Localização Atual</th>
    <td><%= @car.localizacao %></td>
  </tr>
  <% unless @car.cidade_origem.nil? && @car.estado_origem.nil? %>
  <tr>
    <th>Origem</th>
    <td><%= Cidade.find(@car.cidade_origem).text %>, <%= Estado.find(@car.estado_origem).sigla %></td>
  </tr>
  <% end -%>
  <% unless @car.cidade_origem.nil? && @car.estado_origem.nil? %>
  <tr>
    <th>Destino</th>
    <td><%= Cidade.find(@car.cidade_destino).text %>, <%= Estado.find(@car.estado_destino).sigla %></td>
  </tr>
  <% end -%>
  <tr>
    <th>Data da Compra</th>
    <td><%= @car.data_compra.strftime("%d/%m/%Y") unless @car.data_compra.nil? %></td>
  </tr>
  
  <tr>
    <th>Status do Carro</th>
    <td><%= StatusVeiculo::estados[@car.ativo] %></td>
  </tr>

<tr>
    <th>Data Prevista da Entrega</th>
    <td><%= @car.data_prevista.strftime("%d/%m/%Y") unless @car.data_prevista.nil? %></td>
  </tr>
  
  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @car.observacao %></td>
  </tr>
</table>



<p><b>DETALHES DO FRETE</b></p>

<table id="mytable" cellspacing="0" summary="Detalhes do Pagamento" style="width:600px">  

<tr>
    <th style="width:180px">Status do Pagamento</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.status_pagamento.status %></td>
  </tr>

  <tr>
    <th>Forma de Pagamento</th>
    <td><%= @car.pagamento.forma_pagamento %></td>
  </tr>
<tr>
    <th>Valor do Frete</th>
    <td> <%= retorna_valor_monetario(@car.pagamento.valor_frete) %></td>
  </tr>


<tr>
    <th>Taxa de Plataforma</th>
    <td><%= retorna_valor_monetario(@car.pagamento.taxa_plataforma) %></td>
</tr>

<tr>
    <th>Taxa de Redespacho</th>
    <td><%= retorna_valor_monetario(@car.pagamento.taxa_despacho) %></td>
</tr>
<tr>
    <th>Desconto</th>
    
    <td>-<%= retorna_valor_monetario(@car.pagamento.desconto) %></td>
</tr>

<tr>
    <th>Valor Pago pelo Cliente</th>
    <td>-<%= retorna_valor_monetario(@car.pagamento.valor_pago) %> <%= "em #{@car.pagamento.data_pagamento.strftime('%d/%m/%Y')}" unless @car.pagamento.data_pagamento.nil? %></td>
</tr>
  
<tr>
    <th>Total do Frete</th>
    <td><%= retorna_valor_monetario(@car.pagamento.valor_total) %></td>
</tr> 

  <tr>
    <th>Saldo Devedor</th>
    <td><%= retorna_valor_monetario(@car.pagamento.saldo_devedor) %></td>
  </tr>


  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @car.pagamento.observacao %></td>
  </tr>

</table>
<br />

</div>

<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'default' %>
<%= stylesheet_link_tag 'devise' %>
</body>
</html>

