<p id="notice"><%= notice %></p>

<p>
  <b>Placa:</b>
  <%= @car.placa %>
</p>

<p>
  <b>Modelo:</b>
  <%= @car.modelo %>
</p>

<p>
  <b>Comprador:</b>
  <%= @car.comprador.firstname %> <%= @car.comprador.lastname %>, <%= @car.comprador.email %>
</p>

<p>
  <b>RG do Comprador:</b>
  <%= @car.comprador.rg %> 
</p>


<p>
  <b>Status do Pagamento:</b>
  <%= @car.status_pagamento.status %>
</p>

<p>
  <b>Rota:</b>
  <%= @car.rota_id %>
</p>

<p>
  <b>Localizacao:</b>
  <%= @car.localizacao %>
</p>


<%= button('Editar', edit_car_path(@car)) %>
<%= button('Voltar', cars_path) %>
