<p id="notice"><%= notice %></p>

<p>
  <b>Placa:</b>
  <%= @car.placa %>
</p>

<p>
  <b>Modelo:</b>
  <%= @car.modelo %>
</p>

<p>
  <b>Comprador:</b>
  <%= @car.comprador.firstname %> <%= @car.comprador.lastname %>
</p>

<p>
  <b>Status pagamento:</b>
  <%= @car.status_pagamento.status %>
</p>

<p>
  <b>Rota:</b>
  <%= @car.rota_id %>
</p>

<p>
  <b>Localizacao:</b>
  <%= @car.localizacao %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
