<p id="notice"><%= notice %></p>

<% if @car.comprador %>
<p><h5>Detalhes do Comprador</h5> </p>
<table id="mytable" cellspacing="0" summary="Detalhes do Comprador" style="width:600px">  
  <tr>
    <th style="width:180px">Nome do Comprador</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.comprador.nome %> </td>
  <tr>
    <th>RG</th>
    <td><%= @car.comprador.rg %></td>
  </tr>
  <tr>
    <th>CPF</th>
    <td><%= @car.comprador.cpf %></td>
  </tr>
  <tr>
    <th>Status do Pagamento</th>
    <td><%= @car.status_pagamento.status %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @car.comprador.telefone %></td>
  </tr>
  <tr>  
    <th>Celular</th>
    <td><%= @car.comprador.celular %></td>
  </tr>
  <tr> 
    <th>E-Mail</th>
    <td><%= @car.comprador.email %></td>
  </tr>
  
</table>

<% elsif @car.empresa %>
<p><h5>Detalhes da Empresa</h5> </p>
<table id="mytable" cellspacing="0" summary="Detalhes do Comprador" style="width:600px">  
  <tr>
    <th style="width:180px">Nome da Empresa</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.empresa.nome %> </td>
  <tr>
    <th>Nome do Contato</th>
    <td><%= @car.empresa.contato %></td>
  </tr>
  <tr>
    <th>CNPJ</th>
    <td><%= @car.empresa.cnpj %></td>
  </tr>
  <tr>
    <th>Status do Pagamento</th>
    <td><%= @car.status_pagamento.status %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @car.empresa.telefone %></td>
  </tr>
  <tr>  
    <th>Celular</th>
    <td><%= @car.empresa.celular %></td>
  </tr>
  <tr> 
    <th>E-Mail</th>
    <td><%= @car.empresa.email %></td>
  </tr>
</table>
<% end -%>

<p><h5>Detalhes do Carro</h1></p>
<table id="mytable" cellspacing="0" summary="Detalhes do Comprador" style="width:600px">  
  <tr>
    <th style="width:180px" >Modelo do Carro</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.modelo %></td>
  </tr>
  <tr>
    <th>Placa</th>
    <td><%= @car.placa %></td>
  </tr>
  <tr>
    <th>Localização Atual</th>
    <td><%= @car.localizacao %></td>
  </tr>
  <% unless @car.cidade_origem.nil? && @car.estado_origem.nil? %>
  <tr>
    <th>Origem</th>
    <td><%= Cidade.find(@car.cidade_origem).text %>, <%= Estado.find(@car.estado_origem).sigla %></td>
  </tr>
  <% end -%>
  <% unless @car.cidade_origem.nil? && @car.estado_origem.nil? %>
  <tr>
    <th>Destino</th>
    <td><%= Cidade.find(@car.cidade_destino).text %>, <%= Estado.find(@car.estado_destino).sigla %></td>
  </tr>
  <% end -%>
  <tr>
    <th>Data da Compra</th>
    <td><%= @car.data_compra.strftime("%d/%m/%Y") unless @car.data_compra.nil? %></td>
  </tr>
  
  <tr>
    <th>Status do Carro</th>
    <td><%= StatusVeiculo::estados[@car.ativo] %></td>
  </tr>
</table>


<p><h5>Detalhes do Frete</h1></p>

<table id="mytable" cellspacing="0" summary="Detalhes do Comprador" style="width:600px">  

<tr>
    <th style="width:180px">Valor Total do Frete</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= number_to_currency(@car.pagamento.valor_total, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></td>
  </tr>
  <tr>
    <th>Status do Pagamento</th>
    <td><%= @car.status_pagamento.status %> </td>
  </tr>

  <tr>
    <th>Valor Pago</th>
    <td><%= number_to_currency(@car.pagamento.valor_pago, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></td>
  </tr>
  
  <tr>
    <th>Valor a Pagar</th>
    
    <td><%= number_to_currency(@car.pagamento.valor_total - (@car.pagamento.valor_pago.nil? ? 0 : @car.pagamento.valor_pago) , :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></td>
  </tr>
  
  <tr>
    <th>Valor da Entrada</th>
    <td><%= number_to_currency(@car.pagamento.valor_entrada, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></td>
    </tr> 

  <tr>
    <th>Forma de Pagamento</th>
    <td><%= @car.pagamento.forma_pagamento %></td>
  </tr>

  <tr>
    <th>Parcelas Pagas</th>
    <td></td>
  </tr>

  <tr>
    <th>Parcelas a Pagar</th>
    <td></td>
  </tr>

</table>
<br />

<%= button('Editar', edit_car_path(@car)) %>
<%= button('Voltar', cars_path) %>
