<p id="notice"><%= notice %></p>

<p><h5>Detalhes do Comprador</h5> </p>
<table id="mytable" cellspacing="0" summary="Detalhes do Comprador" style="width:600px">  
  <tr>
    <th style="width:180px">Nome do Comprador</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.comprador.firstname %> <%= @car.comprador.middlename %> <%= @car.comprador.lastname %></td>
  <tr>
    <th>RG</th>
    <td><%= @car.comprador.rg %></td>
  </tr>
  <tr>
    <th>CPF</th>
    <td><%= @car.comprador.cpf %></td>
  </tr>
  <tr>
    <th>Status do Pagamento</th>
    <td><%= @car.status_pagamento.status %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @car.comprador.telefone %></td>
  </tr>
  <tr>  
    <th>Celular</th>
    <td><%= @car.comprador.celular %></td>
  </tr>
  <tr> 
    <th>E-Mail</th>
    <td><%= @car.comprador.email %></td>
  </tr>
  
</table>

<p><h5>Detalhes do Carro</h1></p>
<table id="mytable" cellspacing="0" summary="Detalhes do Comprador" style="width:600px">  
  <tr>
    <th style="width:180px" >Modelo do Carro</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @car.modelo %></td>
  </tr>
  <tr>
    <th>Placa</th>
    <td><%= @car.placa %></td>
  </tr>
  <tr>
    <th>Localização Atual</th>
    <td><%= @car.localizacao %></td>
  </tr>
  <% unless @car.cidade_origem.nil? && @car.estado_origem.nil? %>
  <tr>
    <th>Origem</th>
    <td><%= Cidade.find(@car.cidade_origem).text %>, <%= Estado.find(@car.estado_origem).sigla %></td>
  </tr>
  <% end -%>
  <% unless @car.cidade_origem.nil? && @car.estado_origem.nil? %>
  <tr>
    <th>Destino</th>
    <td><%= Cidade.find(@car.cidade_destino).text %>, <%= Estado.find(@car.estado_destino).sigla %></td>
  </tr>
  <% end -%>
  <tr>
    <th>Data da Compra</th>
    <td><%= @car.data_compra.strftime("%d/%m/%Y") %></td>
  </tr>
  </tr>
  <tr>
    
    
  </tr>
</table>



<%= button('Editar', edit_car_path(@car)) %>
<%= button('Voltar', cars_path) %>
