

<table id="mytable" cellspacing="0" summary="Lista de Vendas" style = "width:1200px">  <tr>
    <th width = '10' class = 'none'>Nº</th>
    <th width = '70' class = 'begin'> <%= sortable "placa" %></th>
    <th width = '150'><%= sortable "nome", "motorista" %></th>
    <th width = '180'><%= sortable "localizacao", "Localização Atual" %></th>
    <th width = '180'><%= sortable "cidade_origem", "Origem" %></th>
    <th width = '180'><%= sortable "cidade_destino", "Destino" %></th>
    <th ><%= sortable "carros" %></th>
    <th width = '100'>Frete Total<br />dos Veículos</th>
    <% if current_user.admin? %>
        <th width = '140'>Ações</th>
    <% end -%>

  </tr>

<% x = 0%>

<% @cegonhas.each_with_index do |cegonha, index| %>

  <tr>
    <td class = "<%= @row_class %> none"> <%= index + 1 %>. </td>
    <td class = "<%= @row_class %> begin"><%= link_to(cegonha.placa, cegonha) %></td>
    <td class = "<%= @row_class %>"><%= cegonha.motorista.nome %></td>
    <td class = "<%= @row_class %>"><% unless cegonha.localizacao.nil? %><%= cegonha.localizacao %> <%= link_to image_tag("edit_local.png", :border=>0), edit_cegonha_path(cegonha, :editar_localizacao => true, :cegonha => cegonha.id), :class => 'right'  %> <% end -%></td>
    
    <td class = "<%= @row_class %>"><% unless cegonha.cidade_origem.nil? %><%= Cidade.find(cegonha.cidade_origem).text %>, <%= Estado.find(cegonha.estado_origem).sigla %><% end -%> </td>
    
    <td class = "<%= @row_class %>"><% unless cegonha.cidade_destino.nil? %><%= Cidade.find(cegonha.cidade_destino).text %>, <%= Estado.find(cegonha.estado_destino).sigla %><% end -%></td>
    
    <td> <%= (carros_na_cegonha(cegonha)).html_safe %> </td>
    
    <td><%= retorna_valor_dos_fretes(cegonha) %></td>
    <% if current_user.admin? %>
    
    <td class = "<%= @row_class %>"><%= link_to image_tag("details.png", :border=>0, :mouseover => "details_black.png", :title => "Ver Detalhes"), cegonha %> &nbsp;
        <%= link_to image_tag("edit.png", :border=>0, :alt => "Editar", :mouseover => "edit_black.png", :title => "Editar Entrada"), edit_cegonha_path(cegonha) %> &nbsp;
        <%= link_to image_tag("delete-item.png", :border=>0, :mouseover => "delete-item_red.png", :title => "Apagar Entrada"), cegonha, confirm: 'Tem certeza que deseja apagar a venda? Esta ação é irreversível!', method: :delete %>
    <% end -%>

  </tr>
<% end %>
</table>