

<table id="mytable" cellspacing="0" summary="Lista de Vendas">  <tr>
    <th class = 'begin'> <%= sortable "placa" %></th>
    <th><%= sortable "firstname", "motorista" %></th>
    <th><%= sortable "localizacao", "Localização Atual" %></th>
    <th><%= sortable "Origem" %></th>
    <th><%= sortable "Destino" %></th>
    <th><%= sortable "Carros" %></th>
    <% if current_user.admin? %>
    <th>Ações</th>
    <% end -%>
  </tr>

<% x = 0%>


<% @cegonhas.each do |cegonha| %>

  <tr>
    <td class = "<%= @row_class %> begin"><%= cegonha.placa %></td>
    <td class = "<%= @row_class %>"><%#= cegonha.motorista.firstname %> <%#= cegonha.motorista.lastname %></td>
    <td class = "<%= @row_class %>"><% unless cegonha.localizacao.nil? %><%= cegonha.localizacao %> <%= link_to image_tag("edit.png", :border=>0), edit_cegonha_path(cegonha, :editar_localizacao => true, :cegonha => cegonha.id), :class => 'right'  %> <% end -%></td>
    <td class = "<%= @row_class %>"><% unless cegonha.cidade_origem.nil? %><%= Cidade.find(cegonha.cidade_origem).text %>, <%= Estado.find(cegonha.estado_origem).sigla %><% end -%> </td>
    <td class = "<%= @row_class %>"><% unless cegonha.cidade_destino.nil? %><%= Cidade.find(cegonha.cidade_destino).text %>, <%= Estado.find(cegonha.estado_destino).sigla %><% end -%></td>
    <td> <%= cegonha.carros %> carros: <br />
      <% cegonha.cars.each do |car| %>
        <%= car.placa %>, 
      <% end %>
    </td>
    <% if current_user.admin? %>
    <td class = "<%= @row_class %>"><%= link_to 'Detalhes', cegonha %> | 
        <%= link_to 'Editar', edit_cegonha_path(cegonha) %> |
        <%= link_to 'Apagar', cegonha, confirm: 'Tem certeza que deseja apagar a venda? Esta ação é irreversível!', method: :delete %>
    </td>
    <% end -%>
  </tr>
<% end %>
</table>