<% @cegonha = Cegonha.find(params[:cegonha]) %>
<% cidades = Cidade.all %>
<% estado1 = cidades.select{|c| c[:estado_id] == 1}.insert(0, Cidade.new(:text => '')) %>
<% estado2 = cidades.select{|c| c[:estado_id] == 2}.insert(0, Cidade.new(:text => '')) %>
<% estado3 = cidades.select{|c| c[:estado_id] == 3}.insert(0, Cidade.new(:text => '')) %>
<% estado4 = cidades.select{|c| c[:estado_id] == 4}.insert(0, Cidade.new(:text => '')) %>
<% estado5 = cidades.select{|c| c[:estado_id] == 5}.insert(0, Cidade.new(:text => '')) %>
<% estado6 = cidades.select{|c| c[:estado_id] == 6}.insert(0, Cidade.new(:text => '')) %>
<% estado7 = cidades.select{|c| c[:estado_id] == 7}.insert(0, Cidade.new(:text => '')) %>
<% estado8 = cidades.select{|c| c[:estado_id] == 8}.insert(0, Cidade.new(:text => '')) %>
<% estado9 = cidades.select{|c| c[:estado_id] == 9}.insert(0, Cidade.new(:text => '')) %>
<% estado10 = cidades.select{|c| c[:estado_id] == 10}.insert(0, Cidade.new(:text => '')) %>
<% estado11 = cidades.select{|c| c[:estado_id] == 11}.insert(0, Cidade.new(:text => '')) %>
<% estado12 = cidades.select{|c| c[:estado_id] == 12}.insert(0, Cidade.new(:text => '')) %>
<% estado13 = cidades.select{|c| c[:estado_id] == 13}.insert(0, Cidade.new(:text => '')) %>
<% estado14 = cidades.select{|c| c[:estado_id] == 14}.insert(0, Cidade.new(:text => '')) %>
<% estado15 = cidades.select{|c| c[:estado_id] == 15}.insert(0, Cidade.new(:text => '')) %>
<% estado16 = cidades.select{|c| c[:estado_id] == 16}.insert(0, Cidade.new(:text => '')) %>
<% estado17 = cidades.select{|c| c[:estado_id] == 17}.insert(0, Cidade.new(:text => '')) %>
<% estado18 = cidades.select{|c| c[:estado_id] == 18}.insert(0, Cidade.new(:text => '')) %>
<% estado19 = cidades.select{|c| c[:estado_id] == 19}.insert(0, Cidade.new(:text => '')) %>
<% estado20 = cidades.select{|c| c[:estado_id] == 20}.insert(0, Cidade.new(:text => '')) %>
<% estado21 = cidades.select{|c| c[:estado_id] == 21}.insert(0, Cidade.new(:text => '')) %>
<% estado22 = cidades.select{|c| c[:estado_id] == 22}.insert(0, Cidade.new(:text => '')) %>
<% estado23 = cidades.select{|c| c[:estado_id] == 23}.insert(0, Cidade.new(:text => '')) %>
<% estado24 = cidades.select{|c| c[:estado_id] == 24}.insert(0, Cidade.new(:text => '')) %>
<% estado25 = cidades.select{|c| c[:estado_id] == 25}.insert(0, Cidade.new(:text => '')) %>
<% estado26 = cidades.select{|c| c[:estado_id] == 26}.insert(0, Cidade.new(:text => '')) %>
<% estado27 = cidades.select{|c| c[:estado_id] == 27}.insert(0, Cidade.new(:text => '')) %>

<script type="text/javascript">


  function endOfRoute(cidade_destino_nome, elem_id) {
   var estado_destino_id = document.getElementById(elem_id).value;
   <% if @cegonha.cidade_destino %>
    if (cidade_destino_nome.value == <%= Cidade.find(@cegonha.cidade_destino).text.to_json.html_safe %>) {
      //var answer = confirm("Mesmo destino. Avisar usuáro sobre localizações (todo)");
        

      //if(answer) {
      //  <% %>
     // }
    }
    <% end -%>
    
    
  }

  var availVals = {
    1:   <%= estado1.to_json.html_safe %>,
    2:   <%= estado2.to_json.html_safe %>,
    3:   <%= estado3.to_json.html_safe %>,
    4:   <%= estado4.to_json.html_safe %>,
    5:   <%= estado5.to_json.html_safe %>,
    6:   <%= estado6.to_json.html_safe %>,
    7:   <%= estado7.to_json.html_safe %>,
    8:   <%= estado8.to_json.html_safe %>,
    9:   <%= estado9.to_json.html_safe %>,
    10:   <%= estado10.to_json.html_safe %>,
    11:   <%= estado11.to_json.html_safe %>,
    12:   <%= estado12.to_json.html_safe %>,
    13:   <%= estado13.to_json.html_safe %>,
    14:   <%= estado14.to_json.html_safe %>,
    15:   <%= estado15.to_json.html_safe %>,
    16:   <%= estado16.to_json.html_safe %>,
    17:   <%= estado17.to_json.html_safe %>,
    18:   <%= estado18.to_json.html_safe %>,
    19:   <%= estado19.to_json.html_safe %>,
    20:   <%= estado20.to_json.html_safe %>,
    21:   <%= estado21.to_json.html_safe %>,
    22:   <%= estado22.to_json.html_safe %>,
    23:   <%= estado23.to_json.html_safe %>,
    24:   <%= estado24.to_json.html_safe %>,
    25:   <%= estado25.to_json.html_safe %>,
    26:   <%= estado26.to_json.html_safe %>,
    27:   <%= estado27.to_json.html_safe %>,
    28: [{value:'angel',text:'Angelfish'},{value:'snapper',text:'Red Snapper'},{value:'cuda',text:'Ooh, Barracuda'}]
  };

</script>


 <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
  </div>
<% end -%>

<%= form_for(@cegonha) do |f| %>
  <!-- dados da localizacao do veiculo -->
<fieldset><legend><h5 style="font-size: 1.3em">Dados do Veículo</h5></legend>

  <div class="field">
    
    <%= f.label :localizacao, "Localização Atual" %><br />
    <%= select_tag(:estado_id, options_for_select(Estado.all.collect {|p| [ p.nome, p.id ] }, :selected => @cegonha.estado_id), :include_blank => true, :onchange => "UpdateOptions(this, 'cidade_id')")  %>
    <% if @cegonha.cidade_id.nil? %>
      <%= select_tag(:cidade_id) %>
    <% else %>
      <%= select_tag(:cidade_id, options_from_collection_for_select(@locais_atual, :text, :text, @cidade_atual),  :onchange => "endOfRoute(this, 'estado_id')") %>
    <% end -%>
  </div>



  <div class="field">
    
    <%= f.label :cidade_origem, "Origem da Cegonha" %><br />
    <% if @cegonha.estado_origem.nil? %>
      <%= select_tag(:estado_origem, options_for_select(Estado.all.collect {|p| [ p.nome, p.id ] }, :selected => @cegonha.estado_origem), :include_blank => true, :onchange => "UpdateOptions(this, 'cidade_origem')")  %>
    <% else %>
      <%= hidden_field_tag 'estado_origem', @cegonha.estado_origem %>
      <b><%= Estado.find(@cegonha.estado_origem).nome %> -</b>
    <% end -%>
    <% if @cegonha.cidade_origem.nil? %>
      <%= select_tag(:cidade_origem) %>
    <% else %>
      <%= hidden_field_tag 'cidade_origem', @cidade_origem %>
      <b><%= @cidade_origem %></b>
      <%#= select_tag(:cidade_origem, options_from_collection_for_select(@origens_atual, :text, :text, @cidade_origem)) %>
    <% end -%>
  </div>



  <div class="field">
    
    <%= f.label :cidade_destino, "Destino da Cegonha" %><br />
    <% if @cegonha.estado_destino.nil? %>
      <%= select_tag(:estado_destino, options_for_select(Estado.all.collect {|p| [ p.nome, p.id ] }, :selected => @cegonha.estado_destino), :include_blank => true, :onchange => "UpdateOptions(this, 'cidade_destino')")  %>
    <% else %>
      <%= hidden_field_tag 'estado_destino', @cegonha.estado_destino %>
      <b><%= Estado.find(@cegonha.estado_destino).nome %> -</b>
    <% end -%>
    <% if @cegonha.cidade_destino.nil? %>
      <%= select_tag(:cidade_destino) %>
    <% else %>
      <%= hidden_field_tag 'cidade_destino', @cidade_destino %>
      <b><%= @cidade_destino %></b>
      <%#= select_tag(:cidade_destino, options_from_collection_for_select(@destinos_atual, :text, :text, @cidade_destino)) %>
    <% end -%>
  </div>



</fieldset>
  <!-- fim dos dados do veículo -->  
  <br />
  <div class="actions">

    <%= f.submit "Salvar", :name => 'salvar_localizacao' %>
  </div>
<% end %>

