.row
  .large-6.columns.end
    %fieldset
      %legend
        %h5 Dados da Cegonha
      = form_for(@cegonha) do |f|
        = f.label :cidade_origem, "Localização Atual"
        .row
          .large-5.columns
            = f.collection_select :estado_id, Estado.order(:nome), :id, :nome, :include_blank => true
          .large-7.columns
            = f.grouped_collection_select :cidade_id, Estado.order(:nome), :cidades, :nome, :id, :text, include_blank: true

        = f.label :cidade_origem, "Origem do Carro"
        .row
          .large-5.columns
            = f.collection_select :estado_origem, Estado.order(:nome), :id, :nome, :include_blank => true
          .large-7.columns
            = f.grouped_collection_select :cidade_origem, Estado.order(:nome), :cidades, :nome, :id, :text, include_blank: true

        = f.label :cidade_destino, "Destino do Carro"
        .row
          .large-5.columns
            = f.collection_select :estado_destino, Estado.order(:nome), :id, :nome, :include_blank => true
          .large-7.columns
            = f.grouped_collection_select :cidade_destino, Estado.order(:nome), :cidades, :nome, :id, :text, include_blank: true

        = f.submit "Salvar", :name => 'saved_location', :class => :button