- if !current_user.admin?
  Desculpe, você precisa ter direitos administrativos para visualizar esta página!
- else

  = form_for(@cegonha) do |f|
    - if @cegonha.errors.any?
      %h1
        = "#{pluralize(@cegonha.errors.count, 'erro')} impediram que a compra fosse salva:"
      %ul
        - @cegonha.errors.full_messages.each do |msg|
          %li
            = msg

    .row{ 'data-equalizer' => '' }
      %div{:class => @grid}
        - if @cegonha.empresa
          %fieldset{ 'data-equalizer-watch' => '' }
            %legend
              %h5{ :style => "font-size: 1.3em"}
                Dados da Empresa
            = f.fields_for :empresa do |builder|
              = builder.label :cnpj, "CNPJ* da Empresa"
              = builder.text_field :cnpj, :onkeyup =>"mascara(this,cnpj); fillFieldsEmpresaCegonha(this)",:maxlength=>"18", :size => '30', :id => 'empresa_cnpj'
              
              = builder.label :nome, "Nome da Empresa*"
              = builder.text_field :nome, :id => 'empresa_nome'
              
              = builder.label :contato, "Nome do Contato"
              = builder.text_field :contato, :id => 'empresa_contato' 
              
              = builder.label :email, "E-Mail"
              = builder.text_field :email, :id => 'empresa_email' 
              
              = builder.label :telefone
              = builder.text_field :telefone, :onkeyup => "mascara(this,telefone)", :maxlength => "14", :size => '30', :id => 'empresa_telefone'
              
              = builder.label :celular
              = builder.text_field :celular, :onkeyup =>"mascara(this,telefone)", :maxlength=>"15", :size => '30' , :id => 'empresa_celular'
      %div{:class => @grid}
        %fieldset{ 'data-equalizer-watch' => '' }
          %legend
            %h5{ :style => "font-size: 1.3em"}
              Dados da Cegonha
          
          = f.label :placa
          = f.text_field :placa, :onkeyup => "mascara(this, placa)", :maxlength => '8', :size => '15'
        
          = raw(carros_na_cegonha(@cegonha))
        
          = f.label :observacao, "Observação"
          = f.text_area :observacao, :cols => 40, :rows => 7
      %div{:class => @grid} 
        %fieldset{ 'data-equalizer-watch' => '' }
          %legend
            %h5{ :style=> "font-size: 1.3em" }
              Dados do Motorista
          = f.fields_for :motorista do |builder|
            = builder.label :cpf, "CPF do Motorista*"
            = builder.text_field :cpf, :onkeyup =>"mascara(this,cpf); fillFieldsMotorista(this)",:maxlength=>"14", :size => '30', :id => 'motorista_cpf'
            
            = builder.label :nome, "Nome do Motorista*"
            = builder.text_field :nome, :id => 'motorista_nome'
            
            = builder.label :email, "E-Mail"
            = builder.text_field :email, :id => 'motorista_email' 
            
            = builder.label :telefone
            = builder.text_field :telefone, :onkeyup => "mascara(this,telefone)", :maxlength => "14", :size => '30', :id => 'motorista_telefone'
            
            = builder.label :celular
            = builder.text_field :celular, :onkeyup =>"mascara(this,telefone)", :maxlength=>"15", :size => '30' , :id => 'motorista_celular'
            
            = builder.label :observacao, "Observação"
            = builder.text_area :observacao, :cols => 40, :rows => 7, :id => 'motorista_observacao'

        -  if @cegonha.empresa
          - if @cegonha.pagamento.valor_frete == 0
            @cegonha.pagamento.valor_frete = nil
         
          - if @cegonha.pagamento.taxa_plataforma == 0
            @cegonha.pagamento.taxa_plataforma = nil
         
          - if @cegonha.pagamento.taxa_despacho == 0
            @cegonha.pagamento.taxa_despacho = nil
         
          - if @cegonha.pagamento.desconto == 0
            @cegonha.pagamento.desconto = nil
         
          - if @cegonha.pagamento.valor_pago == 0
            @cegonha.pagamento.valor_pago = nil
    
    - if @cegonha.new_record?
      = f.submit "Salvar e Editar Localização", :name => 'edit_location', :cegonha => @cegonha, :class => :button
    - else
      = f.submit "Salvar", :class => :button
      = f.submit "Salvar e Editar Localização", :name => 'edit_location', :cegonha => @cegonha, :class => :button


