<p><h1><%= @mensagem %> </h1></p>
<% if !@cegonhas.empty? %>

  <%= render 'cegonhas' %>

  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

  <br />

<% end -%>
<div style="clear: both;"></div>
<br />

<% if current_user.admin? %>
  <%= button('Adicionar Cegonha', new_cegonha_path)%>
  <%= button('Adicionar Cegonha de Outra Transportadora', :action => :new, :cegonha_contratada => true)%>
<% end -%>
