<p id="notice"><%= notice %></p>

<p><b><%= link_to 'GERAR DOCUMENTO PDF', :action => 'generate_pdf', :id => @cegonha.id %> </b></p>


<div class = 'floating_box'>

<table id="mytable" cellspacing="0" summary="Detalhes da Cegonha" style="width:450px">  
  <caption><h5>Detalhes da Cegonha</h5></caption>
  <tr>
    <th style="width:150px">Placa da Cegonha</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @cegonha.placa %> </td>
  </tr>  

  <% if @cegonha.empresa %>
    <tr>
      <th>Pertencente à Empresa</th>
      <td> <%= @cegonha.empresa.nome %></td>
    </tr>
  <% end %>

  <tr>
    <th>Carros na Cegonha</th>
    <td> <%= raw(carros_na_cegonha(@cegonha)).html_safe %></td>
  </tr>
  <tr>
    <th>Localização Atual</th>
    <td><%= @cegonha.localizacao %></td>
  </tr>
  <% unless @cegonha.cidade_origem.nil? && @cegonha.estado_origem.nil? %>
  <tr>
    <th>Origem</th>
    <td><%= Cidade.find(@cegonha.cidade_origem).text %>, <%= Estado.find(@cegonha.estado_origem).sigla %></td>
  </tr>
  <% end -%>
  <% unless @cegonha.cidade_origem.nil? && @cegonha.estado_origem.nil? %>
  <tr>
    <th>Destino</th>
    <td><%= Cidade.find(@cegonha.cidade_destino).text %>, <%= Estado.find(@cegonha.estado_destino).sigla %></td>
  </tr>
  <% end -%>
  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @cegonha.observacao %></td>
  </tr>
  <tr>  
</table>



<table id="mytable" cellspacing="0" summary="Detalhes do Motorista" style="width:450px">  
  <caption><h5>Detalhes do Motorista</h5> </caption>
  <tr>
    <th style="width:150px">Nome</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @cegonha.motorista.nome %> </td>
  
  <tr>
    <th>RG</th>
    <td> <%= @cegonha.motorista.rg %></td>
  </tr>
  <tr>
    <th>CPF</th>
    <td><%= @cegonha.motorista.cpf %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @cegonha.motorista.telefone %></td>
  </tr>
  <tr>
    <th>Celular</th>
    <td><%= @cegonha.motorista.celular %></td>
  </tr>
  <tr>
    <th>E-Mail</th>
    <td><%= @cegonha.motorista.email %></td>
  </tr>
  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @cegonha.motorista.observacao %></td>
  </tr>
  
</table>



<table id="mytable" cellspacing="0" summary="Histórico da Cegonha" style="width:900px">  
  <caption><h5>Histórico da Cegonha</h5> </caption>

  <tr>
    <th width = '1' class = 'none'>Nº</th>
    <th class = 'begin' >Placa</th>
    <th>Data de Entrada</th>
    <th>Data de Saída</th>
    <th>Entrada</th>
    <th>Saída</th>
  </tr>
  <% @cegonha.historicos.each_with_index do |historico, index| %>
  <tr>
    <td class = "none"> <%= index + 1 %>. </td>
    <td class='begin'><%= historico.car.placa %> </td>
    <td><%= historico.data_entrada %> </td>
    <td><%= historico.data_saida %> </td>
    <td><%= historico.localizacao_entrada %> </td>
    <td><%= historico.localizacao_saida %> </td>
    </tr>
  <%end%>
  
  
</table>

<%if @cegonha.empresa %>
<br />
  <p><h5>Detalhes do Frete da Empresa Contratada</h5></p>


<table id="mytable" cellspacing="0" summary="Detalhes do Frete da Empresa" style="width:600px">  


<tr>
    <th style="width:180px">Valor do Frete</th>
    <td style='border-top: 1px solid #C1DAD7;'> <%= retorna_valor_monetario(@cegonha.pagamento.valor_frete) %></td>
  </tr>

<tr>
    <th>Taxa de Redespacho</th>
    <td><%= retorna_valor_monetario(@cegonha.pagamento.taxa_despacho) %></td>
</tr>

<tr>
    <th>Taxa de Plataforma</th>
    <td><%= retorna_valor_monetario(@cegonha.pagamento.taxa_plataforma) %></td>
</tr>

<tr>
    <th>Desconto</th>
    
    <td>-<%= retorna_valor_monetario(@cegonha.pagamento.desconto) %></td>
</tr>

<tr>
    <th>Valor Pago</th>
    <td>-<%= retorna_valor_monetario(@cegonha.pagamento.valor_pago) %></td>
</tr>
  
<tr>
    <th>Valor Total</th>
    <td><%= retorna_valor_monetario(@cegonha.pagamento.valor_total) %></td>
</tr> 

  <tr>
    <th>Saldo Devedor</th>
    <td><%= retorna_valor_monetario(@cegonha.pagamento.saldo_devedor) %></td>
  </tr>

  <tr>
    <th>Forma de Pagamento</th>
    <td><%= @cegonha.pagamento.forma_pagamento %></td>
  </tr>

  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @cegonha.pagamento.observacao %></td>
  </tr>



</table>

<% end -%>
</div>
<div style="clear: both;"></div>

<br />
<%= button('Editar', edit_cegonha_path(@cegonha)) %>
<%= button('Voltar', cegonhas_path) %>
