!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
      %title
        Controle de Transporte
      = stylesheet_link_tag    "application", :media => "all"
      = javascript_include_tag "application"
      = csrf_meta_tags

  %body
    #wrapper
      = pdf_image_tag('/app/assets/images/logo.png', :style=>"margin:0px;padding:0px")

  %p#notice
    = notice

  .floating_box
    %table#mytable{  :cellspacing => "0", :summary => "Detalhes da Cegonha", :style => "width:450px" }
      %caption
        %h5
          Detalhes da Cegonha
      %tr
        %th{ :style => "width:150px" }
          Placa da Cegonha
        %td{ :style => 'border-top: 1px solid #C1DAD7;'}
          = @cegonha.placa
      - if @cegonha.empresa
        %tr
          %th
            Pertencente à Empresa
          %td
            = @cegonha.empresa.nome
      %tr
        %th
          Carros na Cegonha
        %td
          = raw(carros_na_cegonha(@cegonha)).html_safe
      %tr
        %th
          Localização Atual
        %td
          = @cegonha.localizacao
      - unless @cegonha.cidade_origem.nil? or @cegonha.estado_origem.nil?
        %tr
          %th
            Origem
          %td
            = Cidade.find(@cegonha.cidade_origem).text
            = Estado.find(@cegonha.estado_origem).sigla

      - unless @cegonha.cidade_destino.nil? or @cegonha.estado_destino.nil?
        %tr
          %th
            Destino
          %td
            = Cidade.find(@cegonha.cidade_destino).text
            = Estado.find(@cegonha.estado_destino).sigla
      %tr
        %th{ :style => "height:50px" }
          Observação
        %td
          = @cegonha.observacao

    %table#mytable{ :cellspacing => "0", :summary => "Detalhes do Motorista", :style => "width:450px" }
      %caption
        %h5
          Detalhes do Motorista
      %tr
        %th{ :style => "width:150px"}
          Nome
        %td{ :style => 'border-top: 1px solid #C1DAD7;'}
          = @cegonha.motorista.nome
      %tr
        %th
          RG
        %td
          = @cegonha.motorista.rg
      %tr
        %th
          CPF
        %td
          = @cegonha.motorista.cpf
      %tr
        %th
          Telefone
        %td
          = @cegonha.motorista.telefone
      %tr
        %th
          Celular
        %td
          = @cegonha.motorista.celular
      %tr
        %th
          E-Mail
        %td
          = @cegonha.motorista.email
      %tr
        %th{ :style => "height:50px" }
          Observação
        %td
          = @cegonha.motorista.observacao

    - if @cegonha.empresa
      %table#mytable{ :cellspacing => "0", :summary => "Detalhes do Frete da Empresa", :style => "width:450px" }
        %caption
          %h5
            Detalhes do Frete da Empresa Contratada
        %tr
          %th{ :style => "width:180px" }
            Valor do Frete
          %td{ :style => 'border-top: 1px solid #C1DAD7;' }
            = number_to_currency(@cegonha.debito.valor_frete)
        %tr
          %th
            Taxa de Redespacho
          %td
            = number_to_currency(@cegonha.debito.taxa_despacho)
        %tr
          %th
            Taxa de Plataforma
          %td
            = number_to_currency(@cegonha.debito.taxa_plataforma)
        %tr
          %th
            Desconto
          %td
            = number_to_currency(@cegonha.debito.desconto)
        %tr
          %th
            Valor Pago
          %td
            = number_to_currency(@cegonha.debito.valor_pago)
        %tr
          %th
            Valor Total
          %td
            = number_to_currency(@cegonha.debito.valor_total)
        %tr
          %th
            Saldo Devedor
          %td
            = number_to_currency(@cegonha.debito.saldo_devedor)
        %tr
          %th
            Forma de Pagamento
          %td
            = @cegonha.debito.forma_pagamento
        %tr
          %th{ :style => "height:50px" }
            Observação
          %td
            = @cegonha.debito.observacao

    - @cegonha.rotas.downto(1) do |i|
      - carros_na_rota = @cegonha.historicos.select{|hist| hist.rota == i}
      - frete_total = 0
      - saldo_devedor = 0
      - carros_na_rota.each do |hist|
        - frete_total = hist.car.debito.valor_total + frete_total unless hist.car.nil?
        - saldo_devedor =  hist.car.debito.saldo_devedor + saldo_devedor unless hist.car.nil?

        %table#mytable{ :cellspacing => "0", :summary => "Histórico da Cegonha", :style => "width:900px" }
          - if i == @cegonha.rotas
            %caption
              %h5
                = "Rota Atual #{@cegonha.route_name}"
            %caption
              %p
                = "Frete Total: #{number_to_currency(frete_total)}, Saldo Devedor: #{number_to_currency(saldo_devedor)}"
          - else
            - h_nome = Historico.find_all_by_rota(i)
            - nome_rota = ""
            - if !h_nome.empty?
              - nome_rota = h_nome.first.nome_rota
            %caption
              %h5
                = "Rota #{i} #{nome_rota}"
            %caption
              %p
                = "Frete Total: #{number_to_currency(frete_total)}, Saldo Devedor: #{number_to_currency(saldo_devedor)}"

            - if carros_na_rota.empty?
              %th{ :style => "text-align:left;" }
                Nenhum carro na cegonha
            - else
              %tr
                %th.none{ :width => '1'}
                  Nº
                %th.begin
                  Placa
                %th
                  Data de Entrada
                %th
                  Cidade de Entrada
                %th
                  Data de Saída
                %th
                  Cidade de Saída
                - carros_na_rota.each_with_index do |historico, index|
                  %tr
                    %td.none
                      = index + 1
                    %td.begin
                      = link_to(historico.car.placa, historico.car) unless historico.car.nil?
                    %td
                      = historico.data_entrada.strftime("%d/%m/%Y") unless historico.data_entrada.nil?
                    %td
                      = historico.localizacao_entrada
                    %td
                      = historico.data_saida.strftime("%d/%m/%Y") unless historico.data_saida.nil?
                    %td
                      = historico.localizacao_saida
  .clear

  .row
  .large-12.end
    %table#mytable.text-left{ :cellspacing => "0", :summary => "Histórico da Cegonha", :width => '100%' }
      %caption.text-left
        %h5= "Rota Atual - #{@route_name}"
        %p.small
          O horário não indica quando a situação ocorreu, mas sim quando os dados foram recebidos pelo sistema.
      %tr
        %th.begin Data
        %th Saiu de
        %th Chegou em
        %th Carros
      - @cegonha.tracking.changes.each do |change|
        %tr
          %td.begin= change.created_at.strftime("%d/%m/%Y, %H:%M")
          %td= "#{change.previous_city}/#{change.previous_state}"
          %td= "#{change.current_city}/#{change.current_state}"
          %td= change.current_cars

  = stylesheet_link_tag 'application'
  = stylesheet_link_tag 'default'
  = stylesheet_link_tag 'devise'

