%p
  %b= link_to 'GERAR DOCUMENTO PDF', :action => 'generate_pdf', :id => @cegonha.id

.row{ 'data-equalizer' => ""}
  %div{:class => @grid}
    %table.text-left{ :cellspacing => "0", :summary => "Detalhes da Cegonha", :width => '450px', 'data-equalizer-watch' => '' }
      %caption
        %h5
          Detalhes da Cegonha
      %tr
        %th
          Placa da Cegonha
        %td
          = @cegonha.placa
      - if @cegonha.empresa
        %tr
          %th
            Pertencente à Empresa
          %td
            = @cegonha.empresa.nome
      %tr
        %th
          Carros na Cegonha
        %td
          = raw(carros_na_cegonha(@cegonha)).html_safe
      %tr
        %th
          Localização Atual
        %td
          = @cegonha.localizacao
      - unless @cegonha.cidade_origem.nil? or @cegonha.estado_origem.nil?
        %tr
          %th
            Origem
          %td
            = Cidade.find(@cegonha.cidade_origem).text
            = Estado.find(@cegonha.estado_origem).sigla

      - unless @cegonha.cidade_destino.nil? or @cegonha.estado_destino.nil?
        %tr
          %th
            Destino
          %td
            = Cidade.find(@cegonha.cidade_destino).text
            = Estado.find(@cegonha.estado_destino).sigla
      %tr
        %th
          Observação
        %td
          = @cegonha.observacao

  %div{:class => @grid}
    %table.text-left{ :cellspacing => "0", :summary => "Detalhes do Motorista", :width => '450px', 'data-equalizer-watch' => '' }
      %caption
        %h5
          Detalhes do Motorista
      %tr
        %th
          Nome
        %td
          = @cegonha.motorista.nome
      %tr
        %th
          RG
        %td
          = @cegonha.motorista.rg
      %tr
        %th
          CPF
        %td
          = @cegonha.motorista.cpf
      %tr
        %th
          Telefone
        %td
          = @cegonha.motorista.telefone
      %tr
        %th
          Celular
        %td
          = @cegonha.motorista.celular
      %tr
        %th
          E-Mail
        %td
          = @cegonha.motorista.email
      %tr
        %th
          Observação
        %td
          = @cegonha.motorista.observacao

  - if @cegonha.empresa
    %div{:class => @grid}
      %table.text-left{ :cellspacing => "0", :summary => "Detalhes do Frete da Empresa", :width => '450px', 'data-equalizer-watch' => '' }
        %caption
          %h5
            Detalhes do Frete da Empresa Contratada
        %tr
          %th
            Valor do Frete
          %td
            = number_to_currency(@cegonha.debito.valor_frete)
        %tr
          %th
            Taxa de Redespacho
          %td
            = number_to_currency(@cegonha.debito.taxa_despacho)
        %tr
          %th
            Taxa de Plataforma
          %td
            = number_to_currency(@cegonha.debito.taxa_plataforma)
        %tr
          %th
            Desconto
          %td
            = number_to_currency(@cegonha.debito.desconto)
        %tr
          %th
            Valor Pago
          %td
            = number_to_currency(@cegonha.debito.valor_pago)
        %tr
          %th
            Valor Total
          %td
            = number_to_currency(@cegonha.debito.valor_total)
        %tr
          %th
            Saldo Devedor
          %td
            = number_to_currency(@cegonha.debito.saldo_devedor)
        %tr
          %th
            Forma de Pagamento
          %td
            = @cegonha.debito.forma_pagamento
        %tr
          %th
            Observação
          %td
            = @cegonha.debito.observacao


.row
  .large-12.end
    %table.text-left{ :cellspacing => "0", :summary => "Histórico da Cegonha", :width => '100%' }
      %caption.text-left
        %h5= "Rota Atual - #{@route_name}"
        %h5.subheader.small
          O horário não indica quando a situação ocorreu, mas sim quando os dados foram recebidos pelo sistema.
      %tr
        %th Data
        %th Saiu de
        %th Chegou em
        %th Carros
      - @cegonha.tracking.changes.each do |change|
        %tr
          %td= change.created_at.strftime("%d/%m/%Y, %H:%M")
          %td= "#{change.previous_city}/#{change.previous_state}"
          %td= "#{change.current_city}/#{change.current_state}"
          %td= change.current_cars

= link_to 'Editar', edit_cegonha_path(@cegonha), :class => :button
= link_to 'Voltar', cegonhas_path, :class => :button