%li.divider
%li
  = link_to "Ativos", cars_path 
%li.divider
%li
  %a{:href => "/cars/inativos"}
    Finalizados
%li.divider
%li
  = link_to "Cegonhas", cegonhas_path
%li.divider
%li
  = link_to "Parceiros", parceiros_path
%li.divider
%li
  = link_to "Clientes", compradores_path
%li.divider
%li
  = link_to "Controle Financeiro", financeiros_path
