<!DOCTYPE html>
<html>
<head>
<meta http-equiv = "Content-Type" content = "text/html; charset=iso-8859-1">
  <title>Controle de Transporte</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='wrapper'>
	<div id='wrapper2'>
		<div id='top-menu'>
			<div id="account">
			  <ul>
			  	<% if !current_user.nil? %>
			  	<% if current_user.admin? %>
						<li><%= link_to "Usuários", users_path %></li>
				  <% end -%>
				  <% end -%>
			  	<li><%= render 'devise/menu/registration_items' %></li>
			  	<li><%= render 'devise/menu/login_items' %></li>
			  	

			  </ul>
			</div>
		</div>
		<!-- depois colocar o search do thinking sphynx ou searchlogic -->
		<div id='header'>
			<div id='quick-search'>
				<%= form_tag cars_path, :method => 'get' do %>
					<%= text_field_tag :search, params[:search] %>
					<%= select_tag(:search_by, options_for_select([:placa, :comprador]))%> 
					<%= submit_tag "Buscar", :name => nil %> <br />
					<%= link_to "Busca Avançada", :controller => :search, :action => :index %>
				<% end -%>
			</div>
			<%= image_tag("logo.jpg") %>
			<div id='main-menu'>
				<ul>
					<li><a href="/cars">Ativos</a></li>
					<li><a href="/cars/inativos">Finalizados</a></li>
					<li><a href="/cegonhas">Cegonhas</a></li>
				</ul>
			</div>
			
		</div>
		<div id='main'>
			<div id='content'>
				<div data-pjax-container>
					<%= yield %>
				</div>
			</div>
		</div>
		<div id='footer'>
			<div class='bgl'>
				<div class='bgr'>
					2012 - Akirayoshida Solutions &copy;. Powered by <a href='http://www.rubyonrails.org'>Ruby on Rails</a><br />
					Licenciado para TransRoyal
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
