!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title
      Controle de Transporte
    = include_gon
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #wrapper2
        #top-menu
          #account
            %ul
              - if !current_user.nil?
                - if current_user.admin?
                  %li
                    = link_to "Usuários |", users_path
              %li
                - if user_signed_in? 
                  = render 'devise/menu/registration_items'
              %li
                = render 'devise/menu/login_items'
        #header
          = image_tag("logo.png")
          #main-menu
            %ul
              %li
                = link_to "Ativos", cars_path 
              %li
                %a{:href => "/cars/inativos"}
                  Finalizados
              %li
                = link_to "Cegonhas", cegonhas_path
              %li
                = link_to "Parceiros", parceiros_path
              %li
                = link_to "Clientes", compradores_path
              %li
                = link_to "Controle Financeiro", financeiros_path
        #main
          #content
            = yield
        #footer
          .bgl
            .bgr
              2012 - Akirayoshida Solutions&copy. Powered by <a href='http://www.rubyonrails.org'>Ruby on Rails</a>
              %br
              Licenciado para TransRoyal
