!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Carcontrol'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Carcontrol'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    #footer
      %p.small 2012 - 2014 - Akirayoshida Solutions&copy. Powered by <a href='http://www.rubyonrails.org'>Ruby on Rails</a>
      %p.small{'padding-bottom' => 0} Licenciado para TransRoyal